[2022-07-27 02:44] pikhosh opened #40 "Change menu origin automatically when there is not enough space"
For example, when the menu is very close to the bottom of the page and there is not enough space to display the content, the menu origin should change from "tl" to "bl".

Chakra UI:
![chrome_m5Ffy6298N](https://user-images.githubusercontent.com/73311467/181148910-08112773-dcd6-4eb9-9be0-1d77f258d0db.gif)

Skeleton:
![chrome_rGwzXX1A5z](https://user-images.githubusercontent.com/73311467/181149159-c

[2022-07-27 22:32] endigo9740 commented on #40
Great suggestion and definitely something on my radar! I was planning a default `origin: 'auto`' setting, that would take into account the edges of the canvas. That way if your menu target place near a corner, it doesn't open off screen.

Thanks for linking the Chakra example as well. If you know of other examples feel free to link them here. I'd like to follow best practices when implementing som

[2022-07-28 00:15] endigo9740 opened #41 "a11y improvements (Help Wanted!)"
The aim is to improve overall accessibility across all component. This will be an on-going process that may be subdivided in to multiple parts.

[ARIA reference](https://www.w3.org/WAI/ARIA/apg/)

## A11y Tooling

Highly recommend [this video](https://www.youtube.com/watch?v=IaJtAzaFiJ4) showcasing each of the following tools.

* [axe DevTools](https://chrome.google.com/webstore/detail/axe-devtool

[2022-07-28 00:22] endigo9740 opened #42 "Improve theme generation form"
The theme generation form leaves a lot to be desired on the Themes section of the documentation site:
https://skeleton.brainandbonesllc.com/guides/themes

Consider updating it to operate more like the following tools:

- https://tailwindcolorgenerator.com/
- https://tailwind.simeongriggs.dev/blue/3B82F6

[2022-07-29 23:16] endigo9740 commented on #42
This improvement is now in progress. You can track progress on this respective branch:
https://github.com/Brain-Bones/skeleton/commit/ed61eeae76fded55fd7da4ea6d18a9c1239aa379

Users can now enter four primary hex color values, and the theme generate will do the rest. It's much simpler to use!

The code is still a bit messy, so I plan to update that. Likewise I've integrated a package called Palett

[2022-07-31 01:08] endigo9740 commented on #42
Quick update - this is progressing well.

![Screen Shot 2022-07-30 at 7 55 51 PM](https://user-images.githubusercontent.com/1509726/182005213-12ad5f46-1334-4e32-b028-dd3e9be41d52.png)

Today's update includes the following improvements:

* The theme generator now has has two modes: Tailwind or Custom colors
* Tailwind mode lets you mix and match Tailwind's default colors to generate a theme
* Cust

[2022-07-31 01:09] endigo9740 commented on #42
@thomasbjespersen I'd welcome your help in generating a few more!

[2022-07-31 01:34] endigo9740 opened #43 "New social channels"
Setup new social channels to extend interaction with the community beyond Github. This will initially include:

* Twitter: to track news, updates, and releases. As well as provide a means for the team to retweet community efforts
* Discord: This will house all passive and real time communication between contributors. This will include discussion, support, and other channels, which may expand over

[2022-07-31 19:30] endigo9740 commented on #42
![Screen Shot 2022-07-31 at 2 19 17 PM](https://user-images.githubusercontent.com/1509726/182042168-edebe26c-af1c-4677-834f-776c6d02f8b8.png)

This is now complete and deployed to the documentation site. Try it out here:
https://skeleton.brainandbonesllc.com/guides/themes

[2022-07-31 19:30] #42 closed

[2022-08-01 18:07] neiled opened #45 "Button loses all Skeleton styling if disabled value changed when class property set"
Hi,

Maybe I'm doing something really wrong but if I have something simple like:
[code]

And I change the enabled variable value from true to false, I lose all the Skeleton styling and only the 'class' values are used for styling.

If can't reproduce let me know a decent website I can post an example to and happily will.

[2022-08-01 19:30] endigo9740 commented on #43
The social sites are now available via the homepage of the docs site:
https://skeleton.brainandbonesllc.com/

[2022-08-01 19:30] #43 closed

[2022-08-01 19:32] endigo9740 commented on #45
Thanks Neil, I'll take a look asap!

[2022-08-01 20:16] endigo9740 commented on #45
I've been able to replicate the issue on my end. Seems it's a side effect of our use of Svelte's `$$restProps`. This is a catch-all for miscellaneous properties so we don't have to specify every possible anchor or button attribute (ex: target, type, etc).

We experienced a similar issue that would occur on initialization of the component, but patched this in the last release. Unfortunately this fi

[2022-08-01 20:20] neiled commented on #45
Absolutely, good luck with it, looks great, I love sveltekit and tailwindcss so this project will be a godsend for internal tools etc. Thanks for all the work so far!

[2022-08-01 20:30] endigo9740 commented on #45
Thanks for the kind words!

Making a note here for a potential fix:
- If we add `class` as a prop for any component using `restProps` then this should resolve out issue.
- This will mean we have two types of props: always declared and potentially declared
- This will supersede the need for the `delete` fix from last patch

[2022-08-01 22:10] endigo9740 commented on #45
FYI Neil, I've pushed a potential fix for this issue to my in-progress QA branch: https://github.com/Brain-Bones/skeleton/commit/d19ad6781a4ddd68a5a41bb014801322f620f704

I'm going to let Thomas, our resident QA expert, give this a once over before I consider this complete. If I was a betting man I'd expect this to see this in a release later this week though. Thanks for your patiences in the mean

[2022-08-02 01:59] thomasbjespersen commented on #45
@endigo9740 - Looking into this now.

[2022-08-03 00:01] thomasbjespersen opened #46 "Improve test cases for components using restProps"
If we add class as a prop for any component then it won't be included restProps. See https://github.com/Brain-Bones/skeleton/issues/45 for more details.

This should be a test that is applied to all applicable components.

[2022-08-03 21:27] endigo9740 opened #47 "Missing Dialog and Snackbar type exports"
The following need to included as exports in `/src/lib/index.js`

[code]
[code]
This does not match the expectations provided in the current documentation instructions.

[2022-08-04 01:04] thomasbjespersen commented on #45
Confirmed this will be fixed by the merge of d19ad67...

[2022-08-04 16:42] endigo9740 commented on #45
Merged: https://github.com/Brain-Bones/skeleton/pull/50

[2022-08-04 16:42] #45 closed

[2022-08-04 16:45] endigo9740 commented on #46
Currently the only components using restProp are the following:

* Button
* LogoCloud > Logo
* Range Slider
* Slide Toggle

These are the only tests that will need to be updated for now, but we should be mindful of following this pattern if we extend the use of restProp to additional components in the future.

[2022-08-04 17:02] endigo9740 commented on #45
@neiled FYI this is now released:
https://github.com/Brain-Bones/skeleton/releases/tag/0.30.4

[2022-08-04 18:13] endigo9740 commented on #45
Sorry for the double post, but updating to 0.30.5 or later this issue should now be resolved for you:
https://github.com/Brain-Bones/skeleton/releases/tag/0.30.4
https://github.com/Brain-Bones/skeleton/releases/tag/0.30.5

[2022-08-04 18:29] neiled commented on #45
Thanks that's great will give it a whirl!

[2022-08-04 20:27] endigo9740 commented on #40
@pikhosh I've got an initial version of this working on the attached feature branch. Currently it supports the following:

* Default origin is now set to 'auto', which causes the menu to do it's best to stay on screen
* If auto, the menu position is auto-updated on window resize
* If auto, the menu position is auto-updated when the parent element is scrolled

Per that last bullet, it occurred to m

[2022-08-04 21:18] endigo9740 opened #52 "New Utility: CodeBlock"
The Skeleton documentation has been using the `<CodeBlock>` component internally for a white. I believe it's adequately mature now. Let's go ahead and document this and make available as part of the library.

This will include the following changes:

* Add Utilities > Code Blocks to the Skeleton docs navigation
* Minor updates to the CodeBlock documentation, including instructions for setting up H

[2022-08-04 21:31] endigo9740 commented on #52
@thomasbjespersen This is now ready for QA. Thanks!

[2022-08-04 21:46] pikhosh commented on #40
Thank you for your efforts! I'm happy to see that the project is progressing! 😄
I use [ShareX](https://github.com/ShareX/ShareX); It's also open source!

[2022-08-04 21:53] endigo9740 commented on #40
No problem! Unfortunately ShareX looks to be Windows only (I'm on a Mac!). I'll see if I can track down something similar. In the meantime I've use a free online tool to convert a quick video. Not the best quality, but hey it works!

![auto-menu](https://user-images.githubusercontent.com/1509726/182959178-51a2dad4-d5aa-4406-ab07-bad6899c0bbd.gif)

This only demonstrates vertical scroll, but horizo

[2022-08-04 22:04] endigo9740 commented on #40
@thomasbjespersen This is ready to be tested. I'd recommend testing under the following scenarios. Make sure you use either the default origin (nix the prop) or specify `origin="auto"`.

1. Place the menu in each of the four corners of the page. Ensure the menu attempts to open towards the center of the page. You can use a wrapping element + Tailwind to do this as follows:

[code]

2. Test that th

[2022-08-05 22:44] thomasbjespersen commented on #52
@endigo9740 Any reason why you are not specifying HTML as lang in the usage, and instead using plaintext?

`<CodeBlock code={'<CodeBlock language="html" code={\`<div>This is meta</div>\`}></CodeBlock>'}></CodeBlock>`

[2022-08-05 22:48] endigo9740 commented on #52
Seems that got dropped by accident. I'll patch that real quick!

[2022-08-05 22:52] endigo9740 commented on #52
@thomasbjespersen I see what you mean, Highlight.js wasn't properly highlighting the code snippet because it's the Svelte syntax. They support a ton of languages, but unfortunately Svelte does not appear to be one of them.

https://highlightjs.org/static/demo/

[2022-08-05 23:07] thomasbjespersen commented on #52
@endigo9740 But all of our other components docs utilize this. By adding html as the language?
![Screen Shot 2022-08-05 at 5 07 08 PM](https://user-images.githubusercontent.com/52718757/183222111-f280e19c-f4f1-4a30-a97d-f5225b99fce5.png)

[2022-08-05 23:39] FeldrinH opened #54 "Support binding to RadioGroup value"
Currently the value for RadioGroup components has to be passed in and retrieved using a writable store.
It would be nice if you could bind to the value the same way you can with native input elements.

This would have two advantages:
1. It would match the way you work with values when using native input elements
2. It would be more convenient and flexible, especially when you want to bind to a val

[2022-08-05 23:45] FeldrinH commented on #54
The current approach using a writable store feels especially inconsistent given that RangeSlider and SlideToggle do use binding.

[2022-08-06 01:03] thomasbjespersen commented on #52
We are good to merge this branch to master, @endigo9740.

[2022-08-06 01:21] thomasbjespersen commented on #54
Thanks for bringing this up @FeldrinH.

@endigo9740 Was this a convention that was set early on? Variable dependency between parent and child components? In this case RadioGroup and RadioGroup item?

[2022-08-06 02:34] #52 closed

[2022-08-06 02:54] endigo9740 commented on #54
It may help to understand the difference between the RadioGroup and RangeSlider/SlideToggle. That being that the RadioGroup is made of parent/child components like this:

[code]

While the others are singular components like so:

[code]

This is important to understand why we use a store. When you have the parent/child relationship between components, to my understanding, the best/only way to main

[2022-08-06 04:05] thomasbjespersen commented on #40
This is open to anyone able to test beforehand a final merge.

[2022-08-06 06:01] endigo9740 commented on #40
@pikhosh Feel free to give it a go. I'll aim to merge on Monday. Release TBD.

[2022-08-06 12:42] pikhosh commented on #40
It works well! I just wanted to ask how the default origin is selected? Because sometimes by setting `auto`, the origin switches between `tr` and `br` and sometimes `tl` and `bl`.

For example, after setting the Select menu origin to auto:
![ShareX_mTCo2vgVHQ](https://user-images.githubusercontent.com/73311467/183249246-97e2ba33-75f1-4671-8223-a0b28abe32eb.gif)
And after removing the disabled menu

[2022-08-07 02:57] thomasbjespersen commented on #40
@endigo9740 - In the second screen that @pikhosh uploaded, it does seem to not update the origin until the page is scrolled. This is handled by setAutoOrigin I assume.

[2022-08-07 03:10] thomasbjespersen commented on #40
@endigo9740 - There also seems to be some issues with spacing between the menu and the origin in some instances. Placing the current doc menu in upper left results in spacing differing between different origins. The same when scrolling up and down.

https://user-images.githubusercontent.com/52718757/183273316-658213d6-c566-4cbe-809e-5870830bb0f2.mov

[

https://user-images.githubusercontent.com/52

[2022-08-07 18:23] endigo9740 commented on #47
I created regarding this issue on the Svelte Discord. I figured I'd shared here as well, just in case:
https://discord.com/channels/457912077277855764/1004975444459790356

Long story short, I need to know the best means to export custom Typescript interfaces as part of the package. Trying to do this in index.js, similar to a component, does not work. I figure there's just a slightly different synt

[2022-08-08 05:01] niktek opened #57 "Folder case change"
src/lib/button card and divider have lower case folder names, which cause an issue in src/lib/index.js imports and is probably why the @ts-nocheck was applied.  Just need to capitalise the folder names and remove the ts-nocheck.

[2022-08-08 16:00] thomasbjespersen commented on #57
Great catch, @niktek. I have been wanting to get this done for a while.

[2022-08-08 16:05] endigo9740 commented on #40
@pikhosh thank you for testing. Per your question, we have to have some kind of origin set when the page loads, so I'm running the same logic that determines updates the origin on init. Here's a quick visualization of how it works:

![Screen Shot 2022-08-08 at 10 58 30 AM](https://user-images.githubusercontent.com/1509726/183461290-6b0c85fc-a4d0-49be-987c-d41db96175df.png)

Imaging the screen spli

[2022-08-08 16:18] endigo9740 commented on #40
FYI I'm trying to get us on a schedule to release new updates on Mondays going forward. I feel like what we have is a big improvement over what we had prior, so I'm going to go ahead and include current progress on this in a release today. I do welcome additional feedback on the items mentioned above though. If need be we can address anything else in subsequent updates.

We're going to have an inf

[2022-08-08 16:18] #40 closed

[2022-08-08 16:44] endigo9740 commented on #57
Thanks Nik. Strangely enough my local instance has the correct casing. I'm guessing I addressed this at some point but Git didn't pick it up. This should now be fixed on on the Master branch. Thanks for bring it to my attention!

[2022-08-08 16:44] #57 closed

[2022-08-08 17:29] endigo9740 commented on #54
@FeldrinH I've had a chance to do some research and test this again today. However, there does not appear to be a means to use the bind syntax in combination with the Context API unfortunately. See my post above describing the data flow of the Context API to understand why (data only flows down).

Additionally, I wanted to share this article which comes to the same conclusion:
https://www.thisdot.

[2022-08-08 17:30] #54 closed

[2022-08-08 18:39] endigo9740 commented on #54
@FeldrinH @thomasbjespersen I've gone ahead and created a feature request for an inherit reactive Context API. See the details here:

https://github.com/sveltejs/svelte/issues/7773

Feel free to chime in on there if you wish. The more visibility the better on these sorts of things.

[2022-08-08 19:28] endigo9740 commented on #41
(reserved)

[2022-08-08 19:28] endigo9740 commented on #41
(reserved)

[2022-08-08 19:28] endigo9740 commented on #41
(reserved)

[2022-08-08 19:30] endigo9740 commented on #41
(reserved)

[2022-08-09 11:37] niktek opened #67 "Tests and lint issues"
Just a quick heads up:

When running `npm run test`, Avatar, Button and Alert had issues with `@testing-library/dom` not being present - needs to be added to the package.json

`npm run lint` is currently showing issues in 141 files - just want to check what's going on here.

Cheers,
Nik

[2022-08-09 15:22] endigo9740 commented on #67
Tests were working fine last I checked, but I'll review. And yes, we've been doing a bad job keeping up with linting. Definitely something to be addressed soon. I'd assume most are minor issues.

[2022-08-09 19:27] endigo9740 opened #68 "Decouple Skeleton from SvelteKit"
Expand Skeleton's support and instruction for any framework where Svelte and Tailwind can be used. Including, but not limited to:

* ~[Vite](https://vitejs.dev/)~ - via https://github.com/Brain-Bones/skeleton/issues/83 - works with v0.32.19+
* ~[Astro](https://astro.build/blog/astro-1/)~ - via https://github.com/Brain-Bones/skeleton/issues/93 - works with v0.32.19+
* [Routify](https://www.routify.

[2022-08-10 04:13] endigo9740 opened #69 "Update Discord invite link"
The current Discord link has expired (sorry!) This includes the follow locations:

* Docs site > homepage
* README > badge
* README > text link

It needs to be replaced with the following perma-link:
https://discord.gg/EXqV7W8MtY

[2022-08-10 04:50] endigo9740 opened #70 "Linting Pass"
As reported here, we're well overdue for a linting pass: https://github.com/Brain-Bones/skeleton/issues/67

I'd advise we handle this immediately following completion and merge of the a11y branch per this ticket: https://github.com/Brain-Bones/skeleton/issues/41

I'm anticipating this to be a lot of small issues (missing semicolon, etc.), so general process should go something like this

* Create

[2022-08-10 04:51] endigo9740 commented on #67
FYI we'll keep this ticket in regards to the testing issue indicated above. I've created another ticket here to address linting: https://github.com/Brain-Bones/skeleton/issues/70

[2022-08-10 05:34] niktek commented on #68
New svelte project with ts, added Skeleton and just tried doing an import of all the components, these are the ones that error out:

`
  import Alert from './lib/Alert/Alert.svelte';  //referes to $lib/Card
  import Avatar from './lib/Avatar/Avatar.svelte';  //refers to $lib/Filters
  import CodeBlock from './lib/CodeBlock/CodeBlock.svelte' // fails to resolve highlight.js
  import Filter from './

[2022-08-10 08:26] niktek commented on #70
Have done a first pass on this, some notes: `npm run lint` only shows the filename of something wrong, you need to do 'npm run format' and then use the diff view to see what got changed.  And yes it is a lot of minor things like single/double quotes, extra commas, etc....

BUT - some of the more deliberate formatting in components, especially around large case statements for applying class strings

[2022-08-10 15:49] endigo9740 commented on #70
Ok, sounds like the current config is not working as expected. We definitely don't want to strip out URL comments as those typically contain useful references or documentation. In that case, leave this one to me. I'll look to adjust the the config and then we'll go from there. Thanks for taking a look though!

[2022-08-10 15:58] endigo9740 commented on #68
Ok, not too bad. Per Skeleton's documentation Highlight.js is an additional required dependency to use CodeBlocks so that makes sense. Follow the instruction on the doc and that should just leave the other two.

LightSwitch uses the following to determine if the app is loaded in the browser, a lifecycle hook essentially. There may be another way to go about this:
`import { browser } from "$app/env

[2022-08-11 00:29] niktek commented on #70
Using the following as .prettierrc

{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 140,
	"htmlWhitespaceSensitivity": "ignore",
	"svelteSortOrder": "options-styles-scripts-markup",
	"svelteStrictMode": false,
	"svelteBracketNewLine": false,
	"svelteAllowShorthand": true,
	"svelteIndentScriptAndStyle": true
}

Comments aren't being stripped, but they are being mo

[2022-08-11 01:35] endigo9740 commented on #69
Done: https://github.com/Brain-Bones/skeleton/pull/71

[2022-08-11 01:35] #69 closed

[2022-08-11 01:47] endigo9740 commented on #70
This is great! These changes will be far reaching so I'd like give this a once-over as well before we implement, but I'll definitely use your config as the baseline.

I'd be surprised if there's no a way to keep comments at the top of the file. Perhaps they need to be formatted multi-line?

[code]

Line wrapping does help readability in most cases. We'll aim to modify the code and accommodate and

[2022-08-11 02:19] niktek commented on #47
https://github.com/Brain-Bones/skeleton/pull/72

The types have to be exported in a .ts file, doing this in `src/lib/index.d.ts` will block the autogenerated component exports that are created by `svelte-kit package`, so this is a quick little workaround to get custom types added to the root `@brainandbones/skeleton` namespace

[2022-08-11 02:30] endigo9740 commented on #47
This is great, looks like it'll do exactly what is needed, but I'll need to request a couple other small changes. I'll reject the PR and post comments there to make it obvious. Check there shortly.

[2022-08-11 02:37] thomasbjespersen commented on #67
@niktek If you won't mind, could you share more details about the issues you encountered about the tests? Screenshots or copy/paste would be fine.

[2022-08-11 03:15] thomasbjespersen commented on #41
@endigo9740 Tabbing through the examples in the button page, skips the disabled toggle button.

[2022-08-11 04:18] niktek commented on #67
Hey @thomasbjespersen,
Okay, so on a fresh fork, cd'd to the root of the project folder:

`pnpm i`
vitest-svelte-kit 0.0.6 (0.0.7 is available) deprecated
`pnpm dev`
The request url "/Users/nik/code/github/skeleton/.svelte-kit/runtime/client/start.js" is outside of Vite serving allow list.
`pnpm test`
Error: [vite-node] Failed to load @testing-library/dom

There is only @testing-library/svelte in

[2022-08-11 04:50] niktek commented on #67
Looks like they are all resolved with this: https://github.com/Brain-Bones/skeleton/pull/74

[2022-08-11 06:20] thomasbjespersen commented on #67
@niktek - Hey Nik! I have been unable to replicate this from my side. Please comment on this ticket if further issues should arise.. We can always reopen if needed.

[2022-08-11 06:23] thomasbjespersen commented on #67
This cannot be reproduced under regular circumstances..

[2022-08-11 06:24] thomasbjespersen commented on #67
Tests were working fine.. Closed..

[2022-08-11 08:12] niktek commented on #67
I'm still able to repro this

If you look at:
https://github.com/Brain-Bones/skeleton/blob/master/package.json
There is no `@testing-library/dom`, so it is impossible for it to work without doing a manual install of that library. Can you check that you don't have `@testing-library/dom` installed as a global package (`npm list -g`) from multiple projects maybe ?

And - https://www.npmjs.com/package

[2022-08-11 08:24] niktek opened #76 "Highlight.js is a dev dependancy"
All of the testing I have been doing so far was based on forking and working in the skeleton repo itself, not using it in a brand new project.

When creating a new svelte-kit project as per the getting started guide, as soon as you import a component (e.g. Card), it will complain that it is not able to resolve highlight.js for CodeBlock, which makes sense as in the skeleton repo highlight.js is li

[2022-08-11 15:30] endigo9740 commented on #67
@thomasbjespersen @niktek Given Nik is the first contributor to pull down the project and run the test suite, I'd like to troubleshoot what's going on. Especially since he's able to reproduce. I'll investigate on my end and respond with my findings asap.

[2022-08-12 01:39] thomasbjespersen opened #78 "Empty style tag added to head on menu open/close"
When opening or closing a menu, an empty style tag is added to the head.

STR:
1. Open Dev Tools and select Elements (or click on page-> Inspect)
2. Go to the Menu docs and open/close a menu
3. Inspect the head in dev tools

![Screen Shot 2022-08-11 at 7 39 13 PM](https://user-images.githubusercontent.com/52718757/184269491-f4b9083c-f637-4e8e-ad99-c345933495e8.png)

[2022-08-12 02:46] thomasbjespersen commented on #78
Please hold off on this one until https://github.com/Brain-Bones/skeleton/issues/41 is completed and merged.

[2022-08-12 03:09] endigo9740 commented on #76
Fixed?
https://github.com/Brain-Bones/skeleton/releases/tag/0.30.7

[2022-08-12 03:37] endigo9740 commented on #76
Fixed! Wohoo!

[2022-08-12 03:37] #76 closed

[2022-08-12 19:35] endigo9740 opened #80 "Avatars show as square in iOS Safari"
Reported on Reddit here:
https://www.reddit.com/r/sveltejs/comments/wmnkoi/comment/ik1a8va/?utm_source=share&utm_medium=web2x&context=

I've reproduced the issue in the iOS simulator here. Most likely a missing overflow:hidden style! Note it only occurs for avatars using an image source as shown:

![Screen Shot 2022-08-12 at 2 40 21 PM](https://user-images.githubusercontent.com/1509726/184431378-9

[2022-08-12 19:44] snake-345 commented on #80
iOS: 15.6
![image](https://user-images.githubusercontent.com/3379833/184431480-e31a4378-9057-48fe-bb80-ec39331e2ab6.png)

I see that you crop an image with `object-fit: cover;` looks like it doesn't work in mobile safari correctly.

[2022-08-12 19:44] endigo9740 commented on #80
Perfect, thanks Snake!

[2022-08-13 12:38] JensPfeifle commented on #68
`npm install highlight.js --save-dev` as suggested in the docs didn't fix the HighlightJS issue for me. This is with npm/Vite/Svelte and Skeleton v0.30.7.
![image](https://user-images.githubusercontent.com/23027708/184494374-d8ebb809-f129-43d0-a56a-70f799c3ec97.png)

[2022-08-13 17:48] endigo9740 opened #83 "Document using Skeleton with Vite/Svelte"
Updated the scope of this ticket to track the progress of documenting instruction and issues when utilizing Skeleton within a Vite/Svelte project.

---

`npm install highlight.js --save-dev` as suggested in the docs didn't fix the HighlightJS issue for me. This is with npm/Vite/Svelte and Skeleton v0.30.7.

![image](https://user-images.githubusercontent.com/23027708/184494374-d8ebb809-f129-43d0-a5

[2022-08-13 17:50] endigo9740 commented on #68
Hi Jens, first off sorry for the issue. Unfortunately this is not related to the decoupling process mentioned above. I've created a new ticket for this here: https://github.com/Brain-Bones/skeleton/issues/83

I'll follow up there.

[2022-08-13 17:55] endigo9740 commented on #83
@JensPfeifle A couple things to note here:

1. The documentation was out of date, I missed rolling out a minor update to the docs a couple nights ago. Installing Highlight.js directly is no longer required. It will be installed automatically as part of installing Skeleton. At least for now. Here's the revised doc:
https://skeleton.brainandbonesllc.com/utilities/codeblocks
![Screen Shot 2022-08-13

[2022-08-13 19:52] endigo9740 commented on #68
@JensPfeifle has provided a great PR to help with the first half of this ticket.

https://github.com/Brain-Bones/skeleton/pull/82

This prunes the SvelteKit-specific features from either component per the suggestions above. However, I'll delay the merge until we can also document and provide instructions for how to install and setup Skeleton for other tools like Vite, Astro, etc.

The partial (but

[2022-08-13 20:11] endigo9740 commented on #83
Quick follow up, I've tested but cannot seem to replicate the error. Here's what I've done:

* Created a small test project with Skeleton version 0.30.7
* Followed all setup instructions on the Docs
* Added a simple Button component to my homepage
* (Note everything was fine when I tested the local dev serve at this point)
* Manually installed Highlight using: `npm install highlight.js --save-dev`

[2022-08-13 20:16] endigo9740 commented on #67
@niktek FYI I've had a chance to run through and test this again. Steps to reproduce:

1. Pull on my local master branch to ensure it's current
2. Run `npm run test` to run the test runner
3. No errors are present

![Screen Shot 2022-08-13 at 3 14 04 PM](https://user-images.githubusercontent.com/1509726/184509388-7c45018b-00fd-4afe-ab1c-50dfc2d9a6be.png)

Unless you can produce steps to reproduce

[2022-08-13 20:19] endigo9740 commented on #47
Between Nik and myself, we appear to have a fix for this. See my latest comment here:
https://github.com/Brain-Bones/skeleton/pull/73

Long story short, we just need to rename `index.js` -> `index.ts` and then we can drop our Type exports right in!

[2022-08-13 20:30] endigo9740 commented on #83
@JensPfeifle I just noticed you mentioned you were using Vite/Svelte in place of Sveltekit!

I'm terribly sorry your original message may have been appropriate for the "decoupling" ticket. I apologize for my hastiness, if it is any excuse I had just woke up :)

All the same this may be better served in a dedicated ticket like this! I think since you and couple other have expressed interested in us

[2022-08-13 22:57] endigo9740 commented on #83
Here's my current progress. Following all instruction here and you should get a -mostly- functional Vite/Svelte app that includes Skeleton. I am positive we can improve instruction though with a few small tweaks here and there. I'm also modifying the local Skeleton node package, which of course is only a temporary work around as as proof of concept. Don't ever do this in a real world app!

---

In

[2022-08-14 08:53] niktek commented on #83
For reference - https://github.com/highlightjs/highlight.js/issues/3527 there is a screen grab showing the exact error we get.

I've also gone ahead and asked them for any advice https://github.com/highlightjs/highlight.js/issues/3597

[2022-08-14 16:27] YummYume opened #85 "Support for Webpack Encore"
Hello,

I am currently working on a template using Webpack Encore with Svelte. After following the installation instructions, I encountered a few issues when trying to run Webpack. I also found #68 and the errors seem to be the same for the most part (`$app/env` and `$app/stores`).

Here are the errors encountered when running Webpack :
[code]

Also worth mentioning that Tailwindcss works fine on

[2022-08-14 17:19] endigo9740 commented on #85
Hi @YummYume thanks for reporting this issue. I'm not familiar with Webpack Encore. A quick search tells me it's related to Symfony, which is new to me as well. Would you mind providing a quick summary of what this is? That context might be useful to know what this is and whether or not we would like debug and add support going forward.

Additionally, yeah the errors look to align with other repor

[2022-08-14 17:25] endigo9740 commented on #83
Great call @niktek, I've subbed to your new ticket and will monitor progress as well. I'll give the above ticket a full read when I return to this task. Thanks

[2022-08-14 19:20] endigo9740 commented on #41
Hey everyone! So great news regarding accessibility (a11y) updates. I've now completed the first round of updates improving a11y for ALL (yes all) components and utilities within Skeleton. The biggest areas of improvement include tab focus, keyboard interactions, and properly defined ARIA attributes.

This is a rather large and impactful update that touches a little bit of everything in the entire

[2022-08-14 19:46] endigo9740 commented on #41
For anyone interested in testing, here's the steps required:

1. Clone a version of Skeleton to your local device: `git clone https://github.com/Brain-Bones/skeleton.git`
2. Checkout the a11y code branch: `git checkout feat/a11y`
3. Move into the project directly: `cd skeleton`
4. Install NPM dependencies: `npm install`
5. Run a local dev server: `npm run dev` and point your browser to: `http://lo

[2022-08-14 20:17] endigo9740 opened #86 "CodeBlock's use of Highlight.js is causing issues, will be removed"
For reference, see the following:

* https://github.com/Brain-Bones/skeleton/issues/68
* https://github.com/Brain-Bones/skeleton/issues/83
* https://github.com/Brain-Bones/skeleton/issues/85
* [See also this Discord thread](https://discord.com/channels/1003691521280856084/1003691521721245792/1008262556898574336)

Given the number of issues reported I'm going to go ahead and disable and remove acce

[2022-08-14 20:25] #86 closed

[2022-08-14 20:26] endigo9740 commented on #68
Per FYI: https://github.com/Brain-Bones/skeleton/issues/86

CodeBlock will be disabled from the next release until further notice. We'll revisit a different way to implement this and reintroduce in a future update.

[2022-08-14 20:26] endigo9740 commented on #83
Per FYI: https://github.com/Brain-Bones/skeleton/issues/86

CodeBlock will be disabled from the next release until further notice. We'll revisit a different way to implement this and reintroduce in a future update.

[2022-08-14 20:26] endigo9740 commented on #85
Per FYI: https://github.com/Brain-Bones/skeleton/issues/86

CodeBlock will be disabled from the next release until further notice. We'll revisit a different way to implement this and reintroduce in a future update.

[2022-08-14 21:14] endigo9740 opened #88 "Reimplement CodeBlock with adjusted support for Highlight.js"
For reference - https://github.com/highlightjs/highlight.js/issues/3527 there is a screen grab showing the exact error we get.

I've also gone ahead and asked them for any advice https://github.com/highlightjs/highlight.js/issues/3597

_Originally posted by @niktek in https://github.com/Brain-Bones/skeleton/issues/83#issuecomment-1214314346_

[2022-08-14 21:27] YummYume commented on #85
@endigo9740 Thanks for the quick response! Webpack Encore is the Symfony version of Webpack which comes in default with Symfony apps (a PHP Framework). It allows for straightforward configuration and compiling of javascript assets. There is effectively growing support for Vite with Symfony, which I could give a try, the configuration is pretty similar to Webpack (although simplified).

If the firs

[2022-08-14 22:19] endigo9740 commented on #83
Vite/Svelte instrunctions are now ready on branch `/feat/vite-svelte`. View the commit here: https://github.com/Brain-Bones/skeleton/commit/34438ed3e227740dacf2df6c4988ab1508ed56c

![Screen Shot 2022-08-14 at 5 19 05 PM](https://user-images.githubusercontent.com/1509726/184556902-6396740e-e928-4884-b93c-5f7cba23195c.png)

I've also made updates to other Guides and component docs as relevant. See t

[2022-08-14 22:28] endigo9740 commented on #85
Ahh a PHP framework, got it. Thank you for explaining. It sounded vaguely familiar but I couldn't place it. Probably because I haven't touched PHP in like 10+ years :)

I might advise we wait until #68, #83, and #86 are resolved, then test again. Could be that issues with the CodeBlock/Menu/Lightswitch are causing some _spillage_, so to speak. I'd expect this should be possible when the next relea

[2022-08-14 22:46] #47 closed

[2022-08-15 01:21] niktek commented on #67
Okay, this one was bugging me and I needed to get to the bottom of it.

It's because I use pnpm... BUT
https://www.kochan.io/nodejs/pnpms-strictness-helps-to-avoid-silly-bugs.html

Substitute @testing-library/dom for the debug@1 in the article to understand the issue.  Because it is not listed in skeletons dependencies, even though it directly uses it, it is at the 'mercy' of testing library who c

[2022-08-15 01:34] endigo9740 commented on #67
I'm all for this. I think this will tie in well with the Vitest config updates we've been brainstorming, but I'm fine with it happening sooner.

[2022-08-15 06:47] niktek commented on #41
Nice work on this so far :)

So doing a side by side comparison between master and feat-a11y and doing a scan with the axe extension for now:

There are two overall ARIA reported issues of colour and heading levels and some minor ones on specific pages.

But this comment focuses on actual Skeleton regressions found in RadioGroup and Slide Toggle no longer working and hence any dynamic preview of o

[2022-08-15 07:10] YummYume commented on #85
@endigo9740 Sounds fine to me! I might try to switch to a Vite configuration in the meantime in case Webpack doesn't work after those issues are resolved, but I'll also happily try to find what is causing those issues with Webpack.

[2022-08-15 12:10] niktek opened #92 "Adding chore type to contrib and package updates"
Can we add a convention of using branches named chore/* for things like update of packages/linting/etc ?

Also, just want to flag that there are same major semver updates available to packages like the eslint and svelte eslint plugins that could have ramifications for the options available to us on https://github.com/Brain-Bones/skeleton/issues/70

Although I've done a `pnpm upgrade` and it all ru

[2022-08-15 14:34] endigo9740 commented on #41
Awesome Nik, thanks. Really strange issues, but I'll take a look!

[2022-08-15 14:35] endigo9740 commented on #85
Sounds like a plan! Thanks!

[2022-08-15 14:41] endigo9740 commented on #92
Sounds like an excellent suggestion. We'll just need to update the contribution guidelines.

I like to update dependencies periodically, but given there's always a chance of introducing breaking issues (because who uses semantic versioning these days, right?! heh) I tend to be a bit more conservative doing so. I'd say let's get the a11y update out the door then this can come after. One big change

[2022-08-15 14:44] endigo9740 commented on #88
@niktek Not sure if you saw the reply in your your support message linked above. The CDN version sounds interesting. I'm still thinking we go ahead and find a means to move the dependency outside or separate from the component. However, I'd like to also consider looking at Prism as well. It's more widely used than Highlight, even though I think they each have pros and cons. Neither seems to have e

[2022-08-15 15:50] #46 closed

[2022-08-15 15:51] #67 closed

[2022-08-15 16:02] endigo9740 opened #93 "Document using Skeleton with Astro"
https://astro.build/

Astro has [support for Svelte components](https://docs.astro.build/en/concepts/why-astro/#easy-to-use). As part of our on-going effort to [decouple Skeleton from SvelteKit](https://github.com/Brain-Bones/skeleton/issues/68) I think it's a prime candidate for this effort. Plus it recently hit v1.0, which means there's a lot of new eyeballs on the framework which could help gar

[2022-08-15 18:05] endigo9740 commented on #93
I've got a very barebones app working using the following:

---

## Scaffold

https://docs.astro.build/en/install/auto/

[code]

## Integrate Svelte

https://docs.astro.build/en/guides/integrations-guide/svelte/

[code]

## Integrate Tailwind

[code]

Add `/src/styles/base.css` and set @tailwind directives:
[code]
Add `/src/styles/theme.css` to house your theme CSS

## Standard Skeleton Setup
(fol

[2022-08-15 18:52] endigo9740 commented on #93
I've created a thread on the Astro Discord asking about how to utilize certain features that are required for some Skeleton features to operate:

https://discord.com/channels/830184174198718474/1008810187802562620

[2022-08-15 20:12] endigo9740 commented on #93
FYI I had a great conversation with folks on the Astro Discord including one core team member. See the log in the link above.

Long story short, their recommendation is to wrap anything ~functional~ within a parent Svelte component. Here's a quick example in pseudo code:

[code]

Now, they do make a great point that this pattern is only need if you have logic and functionality, such as click handl

[2022-08-16 03:55] niktek opened #96 "Upgrading to Svelte Kit 408"
I did a dry run through and it went really smoothly.  Notes:

Must upgrade to SK version 405 `pnpm i @sveltejs/kit@1.0.0-next.405`
Then `npx svelte-migrate routes` which will transform all the pages under routes/
Unpin 405 in package.json and upgrade to 408

Everything works, even the data tables demo pages.
However, it clearly renames all of the files under routes - so creating a PR for this, eve

[2022-08-16 04:12] endigo9740 commented on #96
Ahh it's arrived, eh? Sounds like the migration tool is working well, that's great to hear.

The good news is we don't have to update this moment. We can wait until the a11y and decoupling updates are merged down. Also agreed on the new branches. I'm going to create a ticket to handle this tomorrow.

[2022-08-16 04:18] endigo9740 opened #97 "Introduce new dev branch"
Per @niktek's suggestion, we need a branch between master and feature branches. This will allow hotpatching on master if we need it. We start simple and build up. Something like:

* `master` - as is, we'll build/package on update. Manual for now, automated later with CI/CD.
* `dev` (or staging) - we introduce this as the proceeding branch. I don't think we need both yet.

General idea is `dev` wil

[2022-08-16 04:20] endigo9740 commented on #96
FYI: https://github.com/Brain-Bones/skeleton/issues/97

[2022-08-16 04:27] niktek commented on #97
I know these are arbitrary names and opinionated, but my 2 cents (Dollarydoos !).

`master` never made sense.  We literally use the `branch` command all the time and branches come off a `trunk`
We develop in our feature branches, but then attempt to merge multiple features into the `staging` area.

So my vote is for `trunk` and `staging` with all feature branches to originate from `staging` and `s

[2022-08-16 04:41] endigo9740 commented on #97
Ha, <3 Dollarydoos.

Sounds like you've used Subversion in the past?
http://guides.beanstalkapp.com/version-control/branching-best-practices.html

I may be showing revealing some ignorance on my end but this is the first I've heard of this paradigm! Makes the UX part of my brain start throwing some red flags on whether casual contributors will understand this.

As with many things in Skeleton, my

[2022-08-16 11:40] niktek commented on #97
Heh, try CVS and then svn *shudder*

Nah, mainly from Github/Gitlab Flow paradigms:
https://www.gitkraken.com/learn/git/best-practices/git-branch-strategy
https://www.flagship.io/git-branching-strategies/

I do like having that safety net of merging back into staging before some CI/CD shoots it straight out to S3/GitHub Pages.  Our current situation right now seems like a good example - we have do

[2022-08-16 15:40] endigo9740 commented on #97
That's interesting. Yeah I think as we continue to grow things will evolve more and change. Given the limited staff and resources we're probably best to go with the simplest option. So we'll use the dev branch as mentioned in the OP. But I would like to read more into this going forward. Thanks for sharing Nik!

[2022-08-16 17:40] endigo9740 commented on #97
The branch is live and includes various updates to the documentation. This includes details for targeting the `dev` branch for all PRs going forward. I'll echo this info on the Discord as well.

[2022-08-16 17:40] #97 closed

[2022-08-16 18:10] endigo9740 commented on #92
Note the `chore/*` branch convention has been documented on the contributor guide. This will go live with the next deployment to the doc site!

[2022-08-16 18:10] #92 closed

[2022-08-16 21:23] endigo9740 commented on #68
Documentation for Astro is ready, per: https://github.com/Brain-Bones/skeleton/issues/93

[2022-08-16 21:24] endigo9740 commented on #93
This documentation is now complete and ready for testing on branch `feat/vite-svelte` (reused this, sorry for the poor naming!)

[2022-08-16 21:33] endigo9740 commented on #80
Fixed and merged into `dev` branch.

[2022-08-16 21:53] endigo9740 commented on #96
![Screen Shot 2022-08-16 at 4 51 29 PM](https://user-images.githubusercontent.com/1509726/184991701-aacd2c6b-b7f9-4f09-9b6b-b353c98c4aa7.png)

Noting the change to the global stylesheet is now `app.postcss`. Probably best to address this after the next release given instructions will need to be changed in multiple places per the decoupling doc updates.

[2022-08-16 22:17] endigo9740 opened #99 "Basic SEO for Docs Site"
Per [Roadmap > Documentation > SEO](https://github.com/Brain-Bones/skeleton/wiki/%F0%9F%9B%A3%EF%B8%8F-The-Skeleton-Roadmap-(proposal))

Make some minor modifications to the HTML `<head>` element to include the following:
https://www.link-assistant.com/news/html-tags-for-seo.html

* Title - more descriptive
* Meta Description
* Meta Keywords
* Meta Theme Color (because why not)
* Open Graph Tags (

[2022-08-16 22:27] endigo9740 opened #100 "Update package.json to use default Vite dev server port"
The old default port for SvelteKit's dev server was specified as `3000`:

[code]

However, in new SvelteKit projects the port is no longer provided, meaning it uses Vite's default of `5173`

[code]

You can then open the local dev site at:

[code]

I don't believe we document the port anywhere, so this should just be a small one-line change!

[2022-08-16 22:41] #99 closed

[2022-08-16 22:44] hshoob opened #102 "<Step> is not a valid SSR component in SvelteKit"
The Step component gives the below error:

[code]

Is there a way to SSR this? Below is the `package.json`:

[code]

The `import { Step } from '@brainandbones/skeleton'` gives error, so I manually added `NavItem` component to `/node_modules/@brainandbones/skeleton/index.d.ts`.

The `import { NavItem } from '@brainandbones/skeleton'` also gives error, added it manually to both `index.js` and `index

[2022-08-16 22:54] hshoob commented on #102
Ok, it got fixed, I had to manually import `{ Step }` component in `/node_modules/@brainandbones/skeleton/index.js` too.

[2022-08-16 22:58] #102 closed

[2022-08-16 23:05] endigo9740 commented on #102
Hi @hshoob, thanks for reporting this issue. It looks like we've missed a couple export ins `index.js`.

A couple things to note:

* I'll create a new ticket to add missing exports in `index.js` for Step and anything else.
* In the next release, the `NavItem` component will be merged into `ListItem`. This is of course a breaking change so watch for that! This will be detailed all release notes.

M

[2022-08-16 23:12] endigo9740 opened #103 "Add missing component exports in index.js"
Looks like we have at least one or two missing exports in `/lib/index.js`, per: https://github.com/Brain-Bones/skeleton/issues/102

So far the only component I know needs to be added is:

* `Step` - a child component for the Stepper component

Please do not add or modify the following:

* `NavItem` - reported missing, but it's being dropped in the next release
* `CodeBlock` - is being removed in t

[2022-08-16 23:14] endigo9740 commented on #102
See: https://github.com/Brain-Bones/skeleton/issues/103

[2022-08-17 01:19] #83 closed

[2022-08-17 01:20] #93 closed

[2022-08-17 01:34] endigo9740 commented on #68
Per the original post, #83 and #93 have been closed as these changes have been merged from Dev. We still need review and cleanup of the doc changes, but these and the a11y updates were getting a bit too stale on their own branches.

[2022-08-17 01:35] endigo9740 commented on #41
These changes have been moved into the `dev` branch but still open to additional testing before release.

[2022-08-17 01:37] #80 closed

[2022-08-17 15:44] luke-hagar-sp opened #114 "Please add "target" support along with existing "href" support on Buttons"
The Button component currently supports "href" which works very well, but not the target attribute to specify "_blank" for a new tab.
for me, this leads to issues with wrapping the button with "a" crashing any browser I try it on (I have absolutely no idea why) or the inner "a" value having a very small "hitbox" to click on.

My specific use case here is a chrome extension written in SvelteKit, I

[2022-08-17 16:51] endigo9740 commented on #78
Good to know it's happening with the accordion too. VERY strange bug, but two things of note:

- The next update contains a total rebuild of the accordion component. It now utilizes detail/summary tags. So it may no longer cause the issue since it's less JS heavy.
- I'm not saying the LightSwitch is without issue. Frankly the code is bad (I know, I wrote it heh). But it may be worth checking if th

[2022-08-17 16:53] luke-hagar-sp commented on #78
Roger, I will note my project is Current with SvelteKit.

[2022-08-17 17:05] endigo9740 commented on #114
Hi Luke, unfortunately I'm having trouble replicating your issue. The target attribute works for for me. To test I copied your code snippet straight into a local Skeleton project and all three worked without issue. In fact we even use buttons with the target attribute on the documentation site. Try the "view stylesheet example" button near the top of this page:
https://skeleton.brainandbonesllc.co

[2022-08-17 17:07] hshoob commented on #102
@endigo9740 thanks for the above. I totally agree it's bad to get things directly from `node_modules`. I just came across Skeleton and playing with it. It's great! Once the above changes are implemented I'll use it in my app, so will be on the lookout.

Also, would be good to have a listbox similar to the tailwind [headlessui listbox](https://headlessui.com/react/listbox) in Skeleton. If not anyti

[2022-08-17 17:11] luke-hagar-sp commented on #114
Hey Endigo,

I have no clue what I was doing wrong but it is now operating perfectly.
I apologize for this confusion.

As an output of this could we include the target value and maybe any other props like it on the Button Properties section of the skeleton site?

https://skeleton.brainandbonesllc.com/components/buttons

[2022-08-17 17:22] endigo9740 commented on #102
Sounds good! I'd say keep an eye on the releases section on Skeleton and our social channels to know when that goes live. Twitter, Discord, etc.

I see the value of what Tailwind is doing with the Listbox, but right now we're taking a pretty hard stance against replicating form input components that exist that already have a solid native equivalent. Read the text at the top of this page for a bett

[2022-08-17 17:29] endigo9740 commented on #114
Ha, happens to the best of us! There's that old coding meme of "It's NOT working, and I don't know why - or - it IS working, and I don't know why!" :)

I think you raise a good point and that our documentation is missing critical information - that being that several of the components, including Buttons, already support ALL attributes! However, there's too many to document. It would be a mile long

[2022-08-17 17:29] #114 closed

[2022-08-17 17:31] luke-hagar-sp commented on #114
Man, I love this component Library.....

[2022-08-17 17:31] endigo9740 commented on #114
Ha, yeah we've thought of everything! Except for all the things we haven't yet :)

[2022-08-17 17:45] #96 closed

[2022-08-17 17:50] #70 closed

[2022-08-17 17:56] #103 closed

[2022-08-17 18:21] endigo9740 commented on #41
Reopening this until @thomasbjespersen can finish QA on it.

[2022-08-17 18:28] #100 closed

[2022-08-17 19:24] endigo9740 commented on #78
FYI I've confirmed the following:

* I can replicate the head/style element updates for the live/production version of Skeleton (v0.30.7)
* I cannot reproduce the issues in the most current dev branch, which means the accordion issues are resolved.

Given this, I'll turn my attention to the LightSwitch component.

[2022-08-17 19:48] luke-hagar-sp commented on #88
Unsure if this is related, but I am getting this error
[code]
Now when I try to import any of the Components into a different project than recently discussed

[2022-08-17 19:56] endigo9740 commented on #88
Highlight.js is a syntax highlighting library we used for CodeBlock components. Given the number of issues (like this) it's slated to be removed in the next release. See the pinned ticket here:
https://github.com/Brain-Bones/skeleton/issues/86

This is part of a bigger effort to decouple Skeleton from SvelteKit. Essentially the live/production version only really plays well in a SvelteKit project.

[2022-08-17 20:29] luke-hagar-sp commented on #88
I see, I am using the code block quite heavily on my site at the moment here: https://lukehagar.com/plex-api-oauth so I will have to figure out a solution.

But the error that I put above I was getting when I tried to Import Cards or Buttons or anything, and this is in a Standard SvelteKit Project

[2022-08-17 20:38] endigo9740 commented on #88
What I might advise is implementing highlight.js directly for now. I found it pretty easy to setup per their instructions:
https://highlightjs.org/usage/

Then you can reference the source for the CodeBlock here:
https://github.com/Brain-Bones/skeleton/blob/dev/src/lib/CodeBlock/CodeBlock.svelte

The CodeBlock component will return, but not until we can investigate the best manner to handle it. Th

[2022-08-17 23:11] endigo9740 commented on #78
I was under the impression the LightSwitch was at fault here, so I've opted to refactor and redesign this a bit. It now looks and operates a lot like the versions on these sites:

* https://vitejs.dev/
* https://vitest.dev/

![Screen Shot 2022-08-17 at 6 08 18 PM](https://user-images.githubusercontent.com/1509726/185259099-28e848e6-807e-41f6-ae02-fdd5b5a8e06c.png)

![Screen Shot 2022-08-17 at 6 08

[2022-08-17 23:16] endigo9740 commented on #78
Keeping this open to address the Menu updates mentioned in the comment above.

[2022-08-18 00:51] endigo9740 commented on #78
Finally came across this and identified it's the transition directive that's causing this to occur. We use transition on several components, including Menus, Alerts, etc.

https://github.com/sveltejs/svelte/issues/4801

Gonna mark this CLOSED as I don't believe it's an issue we can fix on our end. I'd suggest we report it to Svelte if we can identify any negative impact from this.

[2022-08-18 00:51] #78 closed

[2022-08-18 08:55] niktek opened #119 "on dev branch the Avatars are overlaying the badges"
http://localhost:5173/components/badges

![image](https://user-images.githubusercontent.com/52020637/185354261-a101f273-cb3c-4824-88a1-3ba2d83b7781.png)

[2022-08-18 10:18] niktek opened #120 "Using tailwind's prettier plugin"
The tailwind prettier plugin embeds the svelte prettier plugin and mainly does class re-ordering within strings.  I've done a dry run locally and the changes are not that drastic at all (mainly affecting doc pages) and I think there is benefit to having things like all base classes appearing in the string before breakpoint variants of the classes and uniformity across the code base.

Instead of pu

[2022-08-18 13:06] hshoob commented on #102
This is great, thanks, @endigo9740 !

https://skeleton.brainandbonesllc.com/guides/forms

I read that when I was going through the docs, and I totally agree. It's just that sometimes we all get tempted by custom styling. :)

[2022-08-18 15:26] endigo9740 commented on #120
I'm actually really not keen on this for Tailwind. The styles, while probably seemingly random, do ahead to some logical flow.

Loosely:

[descriptionClass][colors/positioning][width/height][margins/padding][animation/transitions][utilities(cursor, etc)]

Not sure how the plugin handlings custom versus TW classes in a set, but the one that would give us the most trouble would be the first one, the

[2022-08-18 15:26] #120 closed

[2022-08-18 16:26] endigo9740 opened #121 "Reorganize SVGs in the Project"
Evaluate different conventions to use to better organize component and documentation SVG icons.

See my comment here talking about this in greater detail:
https://github.com/Brain-Bones/skeleton/pull/118

[2022-08-18 16:38] endigo9740 commented on #121
Some interesting gotchas with using SVG with an `<img>` tag, you can't style the interior contents of the SVG this way!

https://css-tricks.com/using-svg/

This means idea of using that method kind of goes out the window.

[2022-08-18 20:39] endigo9740 commented on #121
@niktek @thomasbjespersen

So I came up with a great solution for handling SVGs that I think bridges the best ideas from both Nik and myself.

The notable changes include:

1. I've introduced a new SVG component called `SvgIcon`:
https://github.com/Brain-Bones/skeleton/blob/dev/src/lib/SvgIcon/SvgIcon.svelte
2. I've bundled all SVG path data into a single definition file called `icons.ts`:
https:/

[2022-08-18 21:00] endigo9740 commented on #119
Fixed, just a simple Z layering issue.

[2022-08-18 21:00] #119 closed

[2022-08-18 22:58] endigo9740 opened #123 "Implement new Skeleton logo"
Currently working on a new logo design for branding. I may revise this over time, but this is a good start!

![Screen Shot 2022-08-18 at 5 57 00 PM](https://user-images.githubusercontent.com/1509726/185509283-9637071e-be22-462f-9ef3-3ca91d5f19d3.png)
.

[2022-08-18 23:44] endigo9740 commented on #123
I may adjust this further, but should be a good start!

![Screen Shot 2022-08-18 at 6 44 07 PM](https://user-images.githubusercontent.com/1509726/185513730-50231f44-7645-4bf2-aeaa-193562f54bad.png)

[2022-08-19 16:14] endigo9740 commented on #123
Shelving this one for now until we can dedicate more time to the design process. This, or a variation may return, but more time and effort is needed to do this right!

[2022-08-19 16:14] #123 closed

[2022-08-19 16:30] endigo9740 opened #124 "More consistent hover states for styles and components"
Currently we use a mix of +/- 10% brightness for a lot of hover states (ex: Buttons, etc). The standard for most libraries is to increase brightness on hover state, so we'll aim for that to be our new default. Of course this can typically be overwritten and changed on a per-component basis using the props/TW styles. But consistent defaults would be nice!

[2022-08-19 17:49] endigo9740 commented on #124
These updates are now complete and ready for testing. The most notable change is to tabs. We didn't really have hover styles. The TW classes have been updated to allow for this. Likewise I've split the `highlight` prop into two dedicated props:

`border` - controls the highlighted element's border color
`fill` - controls the highlighted element's SVG icon color

These needed to be set on different

[2022-08-19 17:51] #124 closed

[2022-08-19 19:52] LukeHagar opened #126 "Card with href tag is not generating an anchor object in the final page"
Card with href tag is not generating an anchor object in the final page
![image](https://user-images.githubusercontent.com/98849695/185696190-c328404a-0b77-46c5-a1fb-cb3ab606cfdf.png)
![image](https://user-images.githubusercontent.com/98849695/185696298-f8aedc07-b39c-4b4a-9cc7-8d198f1ced13.png)
![image](https://user-images.githubusercontent.com/98849695/185696587-93b650bc-f721-4322-afa7-e10a06e99b

[2022-08-19 20:05] LukeHagar commented on #126
I'm an idiot, and thinking that the nature of buttons taking on anchor tags applied to cards as well.

Feel free to close this or mark it a feature request

[2022-08-19 20:14] endigo9740 opened #127 "Fix regression issue with Vitest tests"
See the screenshots below. Will need to research the issue, but most tests are failing.

![Screen Shot 2022-08-19 at 3 12 54 PM](https://user-images.githubusercontent.com/1509726/185699966-4c0dc424-561b-4374-965b-ae6d5233ef54.png)

![Screen Shot 2022-08-19 at 3 13 01 PM](https://user-images.githubusercontent.com/1509726/185699969-3e75d85a-b169-4f38-8aa9-d7e11b3996c9.png)

[2022-08-19 20:15] endigo9740 commented on #126
I was about to say that's not a valid properly for a Card (which uses a div as the parent). No worries man. Just FYI you can hit the CLOSE button yourself directly under where you right replies.

I'll grab this one while I'm here though! Thanks!

[2022-08-19 20:15] #126 closed

[2022-08-19 20:47] LukeHagar commented on #127
I want to note as well since its the item that failed at the top, that TabGroup doesn't work with a manually specified class prop for me at all

[2022-08-19 20:50] LukeHagar commented on #127
My input isnt even relevant, I'm operating on the Master

[2022-08-19 21:17] endigo9740 commented on #127
@LukeHagar No worries, but just FYI component issue you're describing would be a separate non-related issue. Feel free to migrate that to its own dedicated issue if you would like help troubleshooting. Note that I may ended purging our conversation from this thread to keep it on topic and tidy. Thanks!

[2022-08-19 21:17] endigo9740 opened #128 "TabGroup doesn't work with a manually specified class prop"
I want to note as well since its the item that failed at the top, that TabGroup doesn't work with a manually specified class prop for me at all

_Originally posted by @LukeHagar in https://github.com/Brain-Bones/skeleton/issues/127#issuecomment-1221081122_

[2022-08-19 21:18] LukeHagar commented on #127
You already fixed it in dev vs master

On Fri, Aug 19, 2022 at 4:17 PM Chris Simmons ***@***.***>
wrote:

[2022-08-19 21:18] endigo9740 commented on #128
@LukeHagar Actually I'm going to go ahead and move this here. I'll purge our messages in the other thread.

[2022-08-19 21:19] endigo9740 commented on #128
Luke had replied:

I'll confirm, if this is true I'll close this issue. Thanks!

[2022-08-19 22:35] endigo9740 commented on #127
@niktek Totally blaming you on this one btw (kidding, just kidding)

FYI It seems to be related to the alias setup for `import X from @brainandbones/skeleton`, or at least that's my best guess so far. I may not have time to finishing debugging btw EOD. But if you get a chance feel free to take a stab at it. You'll note I've created a branch for this if you have access:

`bugfix/vitest`

No worries

[2022-08-20 00:51] niktek commented on #127
So the issue is that the tests are copied into the package folder on ` pnpm package` and end up duplicating.  Root case is that we need to strip the tests from being sent to the package in the first place.  Nice up shot of a fix is that it will reduce the size of the package as well.

[2022-08-20 03:43] niktek opened #134 "New Library project type from svelte-create"
There is a new option now for `npm create svelte@next` that adds a library project type.

I've done a diff on the two project structures and the main things we should look at are:

package.json:
`"build": "svelte-kit sync && svelte-package"` which presumably ensures that the types are properly generated before the packaging is done.

tsconfig.json
`"moduleResolution": "NodeNext"` under compilerOpt

[2022-08-20 17:43] endigo9740 commented on #88
@luke-hagar-sp made a great attempt at migrating to Prism, but it's had it's own slew of of issues:
https://github.com/Brain-Bones/skeleton/pull/133
https://discord.com/channels/1003691521280856084/1010384499877629984

I'm going to go ahead and assign this issue to myself, as I feel like we're approaching this problem from the wrong manner. Rather than trying to cram a syntax highlighting library

[2022-08-20 17:57] #127 closed

[2022-08-20 17:59] #134 closed

[2022-08-20 18:08] endigo9740 commented on #128
Confirmed fixed on dev. Will roll out with the next release. Thanks!

[2022-08-20 18:08] #128 closed

[2022-08-20 18:17] endigo9740 opened #136 "Make theme CSS part of the package"
Current users are required to do the following:

* Go to the docs site
* Navigate to the Themes section
* Tap on an preset theme, or generate their own
* Copy the CSS there
* Create a new `themes.css` locally within their project
* Import the theme into the root of their project, alongside app.post.css

We would dramatically improve this part of the process be embedding the theses into the `/lib`

[2022-08-20 21:47] endigo9740 commented on #136
This is now ready to test on the feature feature branch associated with this ticket.

This does the following:

* Moves themes to `/lib/styles/themes` directory
* Moves our global CSS styles into a modular set of styles in `/lib/styles/core|typography|forms.css`
* Updated all documentation pages relevant to this change.
* Declutters the Styles guide a bit, now presets and the theme generator are f

[2022-08-20 23:22] endigo9740 commented on #136
After thinking about it the way we import the stylesheet add-ons may need to change slight. The concept is right, but order of imports is wrong. Should be:

[code]

The reason for this is the add-ons need to come -after- the directives, but before the custom styles. Otherwise you cannot override the styles (ex: change form background color)

Will need to move the import from the layout file to the

[2022-08-21 02:08] luke-hagar-sp commented on #88
https://svelte.dev/repl/3fef33867c47431b8f4edc99275640e8?version=3.12.1

This may be helpful

[2022-08-21 02:21] endigo9740 commented on #88
It's not unlike what I've tried in the past. The dynamic language loading is a nice touch, but may actually be a bit annoying if you have lots of different code blocks on the page.

Since there's been a lot of interest in this one I'll dedicate some time to it tomorrow. Can't promise it'll be resolved by next release though. Especially since we have so many issues ready to be tested! That stuff mu

[2022-08-21 18:23] endigo9740 commented on #136
I've pushed a change that resolves this. Without implementing another stylesheet there's not really a way to resolve this _within_ the global stylesheet using Vite (no node_modules import in CSS files that I can tell). Instead I've embedded the @tailwind directives into the `core.css` stylesheet, as I expect most will choose to use this.

This includes a warning that you should remove the directiv

[2022-08-21 21:04] endigo9740 commented on #88
I've managed to successfully decouple Highlight.js from the CodeBlock component. This is ready to test on the `feat/codeblock-v2` branch. Optionally can use this command with the GitHub CLI to make this process trivial:

[code]

## Workflow:

- Highlight.js is no longer a dependency of Skeleton.
- If you wish to use the the CodeBlock it will have no syntax highlighting by default (just black and w

[2022-08-22 05:43] niktek opened #140 "List and ListItem issues with ARIA"
Safari seems to be the main culprit here:

The LHS menu of the docs site, none of the ListItems are available to tab navigation - Safari only.

Looking at the /routes/components/lists/ page, clicking an item and then trying to shift tab to go up the list does not work in Safari
![Kapture 2022-08-22 at 15 30 11](https://user-images.githubusercontent.com/52020637/185846565-03641a62-15a2-4c01-97d8-6f

[2022-08-22 07:19] niktek commented on #140
Pretty sure this is an issue with line 48 in ListItem.svelte and that it should be reversing the ternary operands to:
```parentTag === 'nav' ? elemItem.click(): elemItem.querySelector('a').click();```

If parentTag is `nav` then the emitted tag is `a` and hence querySelector('a') will always fail as it looks for an anchor inside itself.  However, when parentTag is not nav, is there some benefit to

[2022-08-22 07:36] niktek commented on #140
LHS menu issues are solved in Safari by turning on:
![image](https://user-images.githubusercontent.com/52020637/185865368-bd4f7828-099a-47cb-affa-bec74b55e879.png)

Why it worked for the components/lists/ page when this is off makes little sense.

[2022-08-22 17:27] endigo9740 commented on #140
Ugh, that's a frustrating default setting for Safari! Apply is using on the ball with user-centric defaults, so that's a big miss on their part. Hopefully folks that need this setting know about it!

Per the keypress event, you're correct, it should need to query within itself. It should just just trigger click on itself if it's part of a `nav` list set. I've dropped the favor in favor of a simple

[2022-08-22 17:30] #140 closed

[2022-08-22 19:21] endigo9740 opened #141 "Minor design refresh for Alerts component"
The current design:

![Screen Shot 2022-08-22 at 2 21 09 PM](https://user-images.githubusercontent.com/1509726/186001768-e7a54129-942b-417c-8280-13ebb7c95fd3.png)

Proposed design:

![Screen Shot 2022-08-22 at 2 21 03 PM](https://user-images.githubusercontent.com/1509726/186001776-89bf479c-ff16-4630-b131-d96e909bf8eb.png)

[2022-08-22 19:54] endigo9740 commented on #141
Here's the results on the branch. PR submitted for review. Note the new default color using "accent", which seems more appropriate.

![Screen Shot 2022-08-22 at 2 52 42 PM](https://user-images.githubusercontent.com/1509726/186007043-16be28ee-d73b-4703-8d34-a4e89a735b9e.png)

![Screen Shot 2022-08-22 at 2 52 34 PM](https://user-images.githubusercontent.com/1509726/186007058-8fd3c14a-ca4a-4981-9e37-

[2022-08-22 20:53] endigo9740 opened #143 "Compare Skeleton to X Library"
I'm a huge fan of Vitest's version of this concept:
https://vitest.dev/guide/comparisons.html

I'd love to introduce a similar doc to Skeleton, as we've had similar questions come up in the past. Like "how does Skeleton stack up to library X or Y?".

Here's my first draft:
https://docs.google.com/document/d/1yI7kIxnJzPpMdGTConB2Y97GkTfKQThrKggdyqNC03c/edit#

I'm currently comparing to other a smal

[2022-08-23 03:56] thomasbjespersen commented on #41
Taking this on @endigo9740.

[2022-08-23 05:21] niktek commented on #88
Still getting * import error when importing any component if the CodeBlock is included in the index.ts export list.   :(

[2022-08-23 06:42] endigo9740 commented on #88
Ok, well CodeBlock won't be part of the next release so we'll have time to test further, but very odd. There should be no import in the component on this branch. It's only part of the layout at that point.

Do my favor and shoot me a copy of your layout file and the package you built for this on here or Discord please. I'll debug tomorrow. Thanks!

[2022-08-23 16:03] endigo9740 commented on #88
Here's a new suggestion from @niktek to review:
https://shiki.matsu.io/

[2022-08-23 16:37] endigo9740 opened #144 "Review Vitest Setup and Configuration"
https://vitest.dev/

Vitest has made great progress and updated quite a bit since we originally configured and added it to the project back in February. However, our configuration has remain mostly static during that time. I'm going to review and see if there's some general improvements to be made to better optimize our use of this.

[2022-08-23 18:05] endigo9740 commented on #144
I've made great progress on this! See commit: https://github.com/Brain-Bones/skeleton/commit/e0e31599eac596edc3b5a9228a88a166226223a8

Notable changes:

- Merged all config into `vite.config.js` and dropped `vitest.config.js`. The latter is for test-only overrides
- [jsdom](https://vitest.dev/guide/features.html#mocking) is now configured globally, which reduced a ton of boilerplate!
- Was able to

[2022-08-23 18:09] #144 closed

[2022-08-23 18:45] endigo9740 opened #146 "Improve component tests"
Improvements:

- Review and improve tests and test coverage for all existing test
- Add tests to components that currently do not include them.
- etc.

[2022-08-23 19:02] thomasbjespersen commented on #146
@endigo9740 Card component needs tests implemented. Currently, only a render function is called, with none of the props tested (with, without).

[2022-08-23 19:19] thomasbjespersen commented on #141
Typo needing fix in docs under the lead description in properties.
![Screen Shot 2022-08-23 at 1 18 03 PM](https://user-images.githubusercontent.com/52718757/186247438-2019d728-91fd-49af-bb55-733dd35cfa88.png)

[2022-08-23 22:18] endigo9740 commented on #143
@ Jacob H. (sorry, don't know your GitHub user) - I saw you request access to the document and have granted this. Feel free to make edits directly. I can review the document history to see what changes are made over time

Thanks for the help!

[2022-08-23 22:21] endigo9740 commented on #141
This has been fixed on the branch. You can see this reflected on the pending PR as well.

[2022-08-24 00:30] #141 closed

[2022-08-24 13:35] jhiney commented on #143
I went through and made some edits to grammar and punctuation. Any larger edits that could change the idea of what you were going for have been made using Google Docs suggestion system so you can approve or reject as you see fit.

[2022-08-24 16:10] endigo9740 commented on #143
Awesome, thanks Jacob! We're about to launch a big update to Skeleton today, so I'll be plenty busy rolling that out, providing support, and promoting today. However, I'll give this a look asap! Thank you for the help!

[2022-08-24 17:25] jhiney commented on #143
If needed, I can implement the docs page once you have reviewed.

[2022-08-24 18:30] #121 closed

[2022-08-24 18:30] endigo9740 commented on #41
FYI i'm closing this for now. Please keep me posted if you have any issues related to these changes @thomasbjespersen

[2022-08-24 18:30] #41 closed

[2022-08-24 19:47] endigo9740 commented on #85
@YummYume FYI the new update dropped today:
[View the Changelog](https://github.com/Brain-Bones/skeleton/discussions/148)

One of the major changes with this release is we've dropped SvelteKit-only features in components like Menus, LightSwich, and temporarily removed the CodeBlock. Those were the three main culprits preventing support in Vite and Astro.

If you are willing and able, please try v0

[2022-08-24 20:11] endigo9740 commented on #143
FYI I've accepted most of your suggestions and merged a few of the more notable changes.

Note I'm on the fence about mentioning the "upcoming guides" for Daisy/Flowbite. Perhaps it's better to introduce these alongside this page? Perhaps the guides would be short enough to be embedded directly below each section? Even if they are long, perhaps they could exist in expandable sections, so not to do

[2022-08-24 21:09] endigo9740 opened #150 "Improve automated test coverage and depth"
@niktek @thomasbjespersen and I discussed this on Discord.

General idea is we now have our Vitest configuration up to date, we have tests applied to every existing component, and we've improved the quality of these. However, we need to go a bit further to ensure we have an adequate number of quality of test cases per component. This will make it easier to introduce new features, handle refactors,

[2022-08-24 21:13] jhiney commented on #143
I think the guides would be short enough to be include. One or two code snippets of utilizing both Skeleton and Daisy/Flowbite would get the idea across that you can use one with the other.

I do think examples beyond your theming example would require more documentation. For example, showing how to put a Skeleton button with a DaisyUI card. Maybe that could be on another page? If hybrid-ing Daisy

[2022-08-24 21:17] endigo9740 opened #151 "Accessibility (a11y) improvements for visual disabilities and color contrast"
The current release of Skeleton provides support for tab focus, keyboard shortcuts, semantic elements, and of course implements changes to support the ARAI spec per each component.

That said, we still have several items to address in regards to a11y support. The the next major update should include further refinement and support for visual impairments. This includes but is not limited to:

* Supp

[2022-08-24 21:22] endigo9740 opened #152 "Investigate support for Tailwind Alternatives (Windi, UnoCSS, etc)"
These include but are not limited to the following:

- [windi](https://windicss.org/)
- [unocss](https://uno.antfu.me/)

General idea is some folks choose to use these in favor of Tailwind. We've had a handful of questions or requests for support of these. So the first step is to review what can be done, document hurdles to overcome, then discuss adjustments that would allow for these to run.

See

[2022-08-24 21:43] endigo9740 commented on #143
Yeah I agree with all that.

Combining libraries would put us in a unique position. While Skeleton can focus on functional/svelte-based components, users can augment presentation components using these libraries (heros, cta, etc)

Obviously the lines blur a bit if you introduce something like Flowbite Svelte. But perhaps at some point we reach out to the maintainers of those projects and make prop

[2022-08-24 22:05] jhiney commented on #143
I'm wondering now how easy it would be to have your Skeleton theme be used by Daisy using their custom themes. I know it would take a little work but I think it could be done pretty seamlessly.  You would just wrap `<html data-theme="skeleton"></html>` around the Daisy components you would want to style and follow their guidelines.

For example, the default theme would look like this:

	daisyui:{

[2022-08-24 22:14] endigo9740 commented on #143
The idea of some kind of combined or universal theme did occur to me. However, the problem is Daisy themes are not fully optimized for Tailwind theme support. Namely, you provide pure hex color values, which means no support of color opacity!

Take a look at our default theme for comparison:
https://github.com/Brain-Bones/skeleton/blob/dev/src/themes/theme-skeleton.css

We talk a bit about this at

[2022-08-25 01:08] endigo9740 opened #153 "Drop store import from Accordion doc"
Writable store are no longer needed for the accordion, so the whole Typescript code block shown can be removed from the docs page:

![image](https://user-images.githubusercontent.com/1509726/186550947-d35b9bb6-0548-4c88-a48a-b21adf8ffd6d.png)

[2022-08-25 03:22] 0xPranjl commented on #153
I have removed the two imports and opened a PR

[2022-08-25 03:30] endigo9740 commented on #153
Awesome, thank you sir!

[2022-08-25 03:30] #153 closed

[2022-08-25 12:12] jhiney commented on #143
I thought about the opacity as soon as I finished, and it's a very good point. Supporting opacity out-of-the-box is great and would need some thinking if combining with Daisy. I think on a comparison page it would be much easier to show the use of Skeleton theming and Flowbite like you did [here](https://github.com/Brain-Bones/skeleton/issues/143#issuecomment-1226427071).

I think the Daisy portio

[2022-08-25 16:53] endigo9740 commented on #143
Yep, I think with a little effort we can make it work. For now, don't hate me, but I've rewritten a good bit of the comparison document. A lot of the ideas you brought forth are still there, but after coming back with a fresh set of eyes I was not happy with the tone. I also needed to make some adjustments to segue into the tutorials for Flowbite and Daisy.

By all means, feel free to review the l

[2022-08-25 18:05] endigo9740 commented on #143
I've pushed my first commit to the `docs/comparison` branch if you would like to review. Here's a quick preview:
https://i.imgur.com/AkfzeY4.png

Note that I also did a review of how Daisy is handling themes and component styles, and must say, it's not great. In fact I'm a bit shocked at the popularity of the library, given the fact they are blatantly missing the point of Tailwind and misusing it.

[2022-08-25 18:36] jhiney commented on #143
I think it looks very good. I hadn't realized until reading your explanation and then looking for myself that Daisy was going against Tailwind's own recommendation. I think perhaps their popularity comes from ease of use, and those utilizing it are probably looking for something they can plug and play in a personal project.

From reading it, I think the only thing that sounds "harsh" would be wher

[2022-08-25 18:45] endigo9740 commented on #143
Ok, that sounds fair. I'll see what I can do. Yeah I want to include the theme comparison images, but right now I've not settled on the best place for hosting those. I know we can just embed them into the project, which I may do, however I'd rather wait until we have a proper CDN in place for this sort of thing. I agree with the benefit of those though, however maybe recommending folks toggle ligh

[2022-08-25 18:58] YummYume commented on #85
Hey @endigo9740 ! First of all, amazing job on the quick release!

As said before, I made a Vite version of my app in the meantime and after this release, everything works like a charm!

For the Webpack version, however, the 2 first errors related to Svelte Kit are indeed gone, but I was still met with the 2 other errors :
[code]
and
[code]

It is essential to notice that both of these are met wit

[2022-08-25 19:25] endigo9740 commented on #143
I've pushed an update to address the concerns above.

* This drops the "goes against" line and instead links the `@apply` callout. Allowing Tailwind themselves to deliver the news. Lead a horse to water, and all that :)
* It collapses the Flowbite example into a Skeleton Accordion, which helps prevents interrupting the flow of the page.
* I'm also recommending user toggle dark mode. In a future it

[2022-08-25 19:40] endigo9740 commented on #85
@YummYume I'm thrilled to hear it's working for both versions now! I can't thank you enough for the detailed instruction above. I'm not sure how I want to present this yet, as we probably won't make Symphony a primary target of the library, however this is valuable knowledge all the same.

I'm thinking about leaning more generalized instruction for using Skeleton within "micro-frameworks" like thi

[2022-08-25 19:42] endigo9740 commented on #85
Since the primary issues are resolved and this issue is linked on the "decoupling" ticket, I'm going to go ahead and close this. For anyone looking to continue this conversation, please do so here:

https://github.com/Brain-Bones/skeleton/issues/68

[2022-08-25 19:42] #85 closed

[2022-08-25 20:51] endigo9740 commented on #151
Here's some notes after some reseach and testing for visual a11y. In short, it's not really about what color values are used, so much as how high the contrast ratio is. For our themes, the biggest offers is typically text on top of a primary or accent color.

Take this example, generated with https://huewind.jordantwells.com/

![Screen Shot 2022-08-25 at 3 11 28 PM](https://user-images.githubuserc

[2022-08-25 20:53] endigo9740 commented on #151
I'd advise we handle this after the built-in themes and modular stylesheet update is merged into dev branch: https://github.com/Brain-Bones/skeleton/pull/137

This will make this process MUCH easier!

[2022-08-26 02:22] niktek opened #156 "Config.kit.package issues"
This is 100% a @sveltejs/package issue.  Setting up on a new laptop:

`pnpm i`
[code]

Removing the package key in `svelte.config.js` (which we used to prevent the tests from being packaged and conflicting with the testing commands) does make it work again.   However their documentation hasn't changed yet in terms of where we now add the config to exclude these files.  Doesn't seem to affect `npm`

[2022-08-26 03:31] endigo9740 commented on #156
Glad you posted this, I keep meaning to bring it up, but I was still seeing tests in `/package` being picked up when I ran the tests recently. I opted to just nuke the package folder while working on the tests. So this is causing issues and is also not apparently solving the issue. I'll take to take a look soon!

[2022-08-26 11:55] niktek opened #158 "AppShells and Layouts"
Will be fleshing this out more - but with AppShells on the roadmap and also needing to revise my own site, I ran into the issue of svelte layouts not being able to have named slots as per https://github.com/sveltejs/kit/issues/627 which also has implications for Skeleton offering a nice OOB DX.

[2022-08-26 16:05] #156 closed

[2022-08-26 16:48] endigo9740 commented on #158
Hmm that's a bummer. Hopefully that's something they address. It would be hugely beneficial for this use case.

FYI, see the Roadmap > Docs > Doc Refresh section here:
https://github.com/Brain-Bones/skeleton/wiki/%F0%9F%9B%A3%EF%B8%8F-The-Skeleton-Roadmap-(proposal)

Part of that first bullet is "improved layout". I was kind of expecting to handle setup for the Nav Bar and App Shell during that pr

[2022-08-26 16:50] endigo9740 commented on #158
The alternative, however, would be to treat the App Shell like a component, rather than a layout for now. You have to import and set it up on each page, but that may still be better than just rebuilding page layouts for scratch over and over. I'll think this about this!

[2022-08-26 23:18] ak4zh opened #159 "Allow svelte:prefetch in Button"
Since Button allows href prop it should also allow `svelte:prefetch`

[2022-08-26 23:29] endigo9740 commented on #159
Hey @Ak4zh, Button is one of a handful of components in Skeleton that take advantage of Svelte's `$$restProps` feature.

You can see it used in the source here, just note we modify the value slightly to avoid conflicts with arbitrary class:
https://github.com/Brain-Bones/skeleton/blob/dev/src/lib/Button/Button.svelte

What this means is that we pass any arbitrary attributes assigned on the compone

[2022-08-26 23:31] endigo9740 commented on #159
Also note it's on our agenda to update the docs to better reflect which docs make use of `$$restProps`. Right now users have no way of knowing without looking at the source. We'll fix that soon!

[2022-08-27 01:59] endigo9740 opened #160 "List and ListItem regressions"
See this discussion on the Svelte Discord:
https://discord.com/channels/457912077277855764/1012083449764524102

It appears our refactor to the List and ListItems in the latest release broke two critical features:

* List - this lost the `spacing` class prop passthrough
* ListItem - this is missing the `$$restProps.class` passthrough for arbitrary classes

Let's aim to get this patched and fixed fo

[2022-08-27 04:19] endigo9740 opened #161 "Hex color theme generator providing imbalanced results"
Note the Warning and Surface colors below. These values should transition smoothly from 50 (lightest) to 900 (darkest) but instead the colors from the middle to right are flipped around.

![Screen Shot 2022-08-26 at 11 10 06 PM](https://user-images.githubusercontent.com/1509726/187014052-614f378b-a9b0-4a25-9fe3-aa0fdb93a515.png)

[2022-08-27 04:21] endigo9740 opened #162 "Forms guide needs app.css reference updated for SvelteKit instructions"
`app.css` should be `app.postcss` for SvelteKit now on this page:
https://skeleton.brainandbonesllc.com/guides/forms

This came as part of the `next.405+` release changes. We fixed this in most places but missed it here!

![Screen Shot 2022-08-26 at 11 20 19 PM](https://user-images.githubusercontent.com/1509726/187014097-473125ea-9ff3-47d0-8945-eb7901adf800.png)

FYI it looks like we need to split

[2022-08-27 05:09] endigo9740 opened #163 "Starter projects for SvelteKit/Vite/Astro"
While I think most folks will want to scaffold projects themselves and understand how things work. It may be beneficial to scaffold starter projects that folks can just clone down and go.

The process for generating these should be simple enough, just go through a the Skeleton documentation from Getting Started and on. I might suggest constructing a simple welcome page with a few components like t

[2022-08-27 05:14] endigo9740 commented on #158
Linking this for reference later. I think something like this might be helpful for generating the layout structure:
https://css-tricks.com/using-grid-named-areas-to-visualize-and-reference-your-layout/

[2022-08-27 05:55] endigo9740 commented on #163
On second thought, let's hold off until we reach more of a stability point with the library. Close to the v1.0 launch.

[2022-08-27 05:55] #163 closed

[2022-08-27 16:55] ak4zh commented on #159
`svelte:prefetch` does not work currently also passing it as a prop may not work.
I guess you need to do:

[code]

[2022-08-27 18:46] endigo9740 commented on #159
Hmm, well that's a bummer. Unfortunately I don't think that's going to be the solution for this component. It add a lot of redundancy to the code (make it much less "dry") and could easily introduce regressions during maintenance. Plus it gets much worse when you take into account the other anchor-specific attributes like:

https://kit.svelte.dev/docs/a-options#sveltekit-reload
https://kit.svelte.

[2022-08-27 18:50] endigo9740 commented on #159
FYI if we can't find a good way to bundle this feature into the component, I'll look to bundle and distribute these CSS styles into the package. That way folks don't have to replicate these over and over on their own. I have an idea how to do that with a new update coming in the next release though!

[2022-08-27 19:55] endigo9740 commented on #159
@ak4zh I had posted another message here, but please disregard. I've tested this a bit further on my own and here's what I've found.

NOTE it is `sveltekit:prefetch` not `svelte:prefetch`, so make sure you apply this correctly:
https://kit.svelte.dev/docs/a-options#sveltekit-prefetch

I've tested the following

[code]

The result rendered in the DOM:
![Screen Shot 2022-08-27 at 2 43 09 PM](https:/

[2022-08-27 20:15] endigo9740 commented on #159
And note I've copied this ticket to our Discord for other contributors to review. If we can find an elegant solution, we'll implement it for sure!

However, the issue appears to lie more in how Sveltekit prefetch and Svelte components operate. They don't seem to play well together. This might be an issue worth reporting to those teams specifically. Perhaps they could help troubleshoot the issue. I

[2022-08-28 17:30] endigo9740 commented on #162
Fixed

[2022-08-28 17:30] #162 closed

[2022-08-28 17:36] #160 closed

[2022-08-28 17:39] endigo9740 opened #165 "Expand AccordionItem component style props"
Per this thread:
https://discord.com/channels/1003691521280856084/1012983433535967302

- ~`space-x-4` - add a prop called `space`~ (NOTE: already present)
- `px-4 py-2` add a prop called `padding`. Summary and content should balance.
- `rounded` add a prop called `rounded`

[2022-08-28 17:45] endigo9740 commented on #165
Done!

[2022-08-28 17:45] #165 closed

[2022-08-28 20:03] endigo9740 opened #166 "Card element has inherit space-y-4 class"
https://github.com/Brain-Bones/skeleton/blob/dev/src/lib/Card/Card.svelte

This class should only be conditionally applied if the header/footer slots are present. It's affecting content within the card body.

[2022-08-28 20:53] endigo9740 opened #167 "Refactor the drawer component"
The Drawer component suffers from a number of issues:

- The documentation is a mess and doesn't properly detail how to implement or use this component
- We should probably designate it a Utility, as it's not really a standard component
- It needs to be more turnkey to implement, perhaps paired with App Shell
- The width of the drawer should be customizable
- I was having trouble implementing the

[2022-08-29 15:18] #143 closed

[2022-08-29 15:19] #88 closed

[2022-08-29 15:29] #136 closed

[2022-08-29 15:31] endigo9740 opened #168 "New Component: App Bar"
As part of the App Shell and Drawer updates, let's go ahead and introduce an app bar (aka "top" bar)

Example:
https://mui.com/material-ui/react-app-bar/

This will come as part of this update:
https://github.com/Brain-Bones/skeleton/issues/158

[2022-08-29 15:32] endigo9740 commented on #167
This will come as part of this update:
https://github.com/Brain-Bones/skeleton/issues/158

[2022-08-29 18:08] bkcsfi commented on #68
Hi,

Sveltekit just changed $app/env to $app/environment, this broke  my app because LightSwitch.svelte version 0.0.1 refers to $app/env

[2022-08-29 18:19] endigo9740 commented on #68
Yeah, the LightSwitch underwent a fairly large change in 0.32.19 that would correct this. Sorry for the confusion @bkcsfi

[2022-08-29 18:48] endigo9740 commented on #158
FYI to use SvelteKit's routing group layouts I needed to update dependencies:
https://kit.svelte.dev/docs/advanced-routing#advanced-layouts-group

![Screen Shot 2022-08-29 at 1 48 06 PM](https://user-images.githubusercontent.com/1509726/187275538-1ad6de1e-4914-4406-902b-f21ff8b05b1b.png)

[2022-08-29 22:57] endigo9740 commented on #158
Great progress made on this today!

Notable improvements:

- We now have a dedicated AppBar (read: top nav bar) component
- We now have an AppShell component that houses left/right panels and the middle content
- The homepage has a unique layout and design, similar to Vite, Vitest, Tailwind, etc.
- The root layout now only sets the header/content area - it's MUCH cleaner than before
- I've setup a

[2022-08-30 16:05] endigo9740 opened #170 "Allow Tooltip "content" area to be full width"
This was reported in Discord. It seems there's not an easy way to allow for the Tooltip "content" region to be set to block/full-width. This means when embedded in a ListItem, the tooltip overlaps rather than appearing from the right edge.

![image](https://user-images.githubusercontent.com/1509726/187485050-3d3b2048-753d-45e4-8489-ff6d7e80d6af.png)

Here's the issue visualized:

![Screen Shot 202

[2022-08-30 17:50] endigo9740 commented on #158
Here's a video showing the current layout for the homepage versus inner pages:
https://i.imgur.com/dReerEo.mp4

General idea is the AppShell provides a ton of potential slots:

![Screen Shot 2022-08-30 at 12 42 19 PM](https://user-images.githubusercontent.com/1509726/187507293-51fb90d1-b895-411f-bb19-7aab368da17d.png)

Here's the root layout markup:

![Screen Shot 2022-08-30 at 12 41 48 PM](https:

[2022-08-31 02:38] endigo9740 commented on #167
Great progress on the Drawer today.

- I've decoupled the AppShell left sidebar from the Drawer component.
- Both AppShell/Drawer now use a 'shared' component for the Docs site
- The result is MUCH cleaner, less trying to cram everything into one component
- I've the theme to better match Dialog backdrop styling
- It's now using Svelte's built in Transition methods (backdrop fades, drawer slides i

[2022-08-31 09:54] Bandit opened #172 "[Menu.svelte] setOrigin fires before element has been bound"
I think `setOrigin();` needs to be in `onMount` so it only fires after the `elemMenu` element has been bound

https://github.com/Brain-Bones/skeleton/blob/dev/src/lib/Menu/Menu.svelte#L30

`setOrigin` fires before `elemMenu` has been bound to the DOM element, so when `origin` is omitted or set to `auto` it leads to "undefined" as the `cOrigin` variable.

[2022-08-31 10:01] Bandit commented on #172
Another option if you don't want to use `onMount` (which could lead to a FOUC) is to create a [Svelte Action](https://svelte.dev/docs#template-syntax-element-directives-use-action) inside this component and then use that, e.g. `use:setOrigin`?

[2022-08-31 15:05] endigo9740 commented on #172
Thanks for the heads up, I'll take a look!

[2022-08-31 17:03] endigo9740 commented on #167
Progress on the new Drawer component:
https://i.imgur.com/pyLQICQ.mp4

It now supports animation from any of the four positions. Works really well in execution!

[2022-08-31 18:25] ssbm-oro commented on #172
I think I'm having an issue related to this. I just updated to the latest skeleton, and now if I have a Menu component in my `+layout.svelte`, I get this error:

[code]

[2022-08-31 18:27] endigo9740 commented on #172
Can you share full full error message and provide snippet of the menu code please @ssbm-oro. This will make this easier to debug. Thanks!

[2022-08-31 18:29] endigo9740 commented on #158
Documentation added for the App Shell component. The props are pretty minimal on this one, but we may find cases where it'll be beneficial to add more.

I'd welcome suggestions if you have any @niktek .

![image](https://user-images.githubusercontent.com/1509726/187752754-a79010aa-9a9a-45ce-ad01-6f2efe53ece2.png)

[2022-08-31 18:30] endigo9740 commented on #168
Documentation added. Also adjusted the default styles a bit to contrast with the background.

@niktek Feedback is welcome here!

![image](https://user-images.githubusercontent.com/1509726/187753050-d863685e-0196-4639-8c22-e1ba33216b8c.png)

[2022-08-31 18:37] ssbm-oro commented on #172
Sorry, I thought I had copied the entire exception.

[code]

Here is my menu code in +layout.svelte, which if I replace with a plaintext placeholder, the error goes away:

[code]

DiscordAvatar is just a simple wrapper around the Avatar component that just sets the correct src url.

It looks like the exception is being thrown from here:

https://github.com/Brain-Bones/skeleton/blob/dev/src/lib/Men

[2022-08-31 18:52] endigo9740 commented on #158
Vitest integration cases have been added. I think with this the component is ready for QA!

Please pull branch `feat/app-shell` to begin testing asap @thomasbjespersen @niktek

[2022-08-31 18:52] endigo9740 commented on #167
Vitest integration cases have been added. I think with this the component is ready for QA!

Please pull branch `feat/app-shell` to begin testing asap @thomasbjespersen @niktek

[2022-08-31 20:31] ssbm-oro commented on #172
You've probably already figured this out, but I discovered that if I change the origin of the Menu to "tl" or something other than "auto", the error goes away. So it's specifically related to the auto-origin.

[2022-09-01 03:02] endigo9740 commented on #172
FYI I saw the additional details, thanks! I'm on the tail end of a few large updates, but once those wrap I'll turn my attention to these Menu issues. Thanks for your patience in the meantime @Bandit @ssbm-oro

[2022-09-01 16:07] endigo9740 opened #173 "Accordion show double carets on Safari browser"
Style overrides are not addressing the tickets on the left like other browsers. We just need to find a way to hide these via CSS styling.

The issue does not appear on either Chrome or Firefox browsers.

![Screen Shot 2022-09-01 at 11 01 15 AM](https://user-images.githubusercontent.com/1509726/187961171-247d271d-b2f6-4b5f-9d9b-cd21485ce8c2.png)

[2022-09-01 17:08] endigo9740 commented on #158
Re-opening this so QA can continue.

[2022-09-01 17:20] endigo9740 opened #175 "Data Table text color cannot be customized"
Currently the Data Table component is hardcoded to the following text colors:

[code]

However, this should be updated to adapt to the global text style colors. Additionally, we should allow these colors to customized with custom props.

[2022-09-01 17:37] #159 closed

[2022-09-01 18:29] endigo9740 commented on #166
The card component now includes a slew of new props that allow for better control over styling. Especially the default content within the middle/body slot.

The attached PR also correct style issues introduced from these props changes.

![Screen Shot 2022-09-01 at 1 05 30 PM](https://user-images.githubusercontent.com/1509726/187986728-c7044591-a31f-433e-9a72-d2c5f36d1a70.png)

[2022-09-01 19:12] endigo9740 commented on #170
After reviewing the doc I think this a component that will undergo a bit of refactor prior to the v1.0 launch. It's a bit overly complicated for what it's actually doing. For now I've implemented a handful of new props that allow you to target each part of the component. See the digram and references below.

![Screen Shot 2022-09-01 at 2 11 47 PM](https://user-images.githubusercontent.com/1509726/

[2022-09-01 19:27] endigo9740 commented on #172
FYI I've created a new PR addressing this here: https://github.com/Brain-Bones/skeleton/pull/178

I've opted for your original suggestion for now @Bandit, as I figure FOUC will only occur if the menu defaults open. This is probably an uncommon default for most projects, so I hope this can get us by for now.

I'm not really happy with how the Menu component operates in general, so I may look to rev

[2022-09-01 20:14] endigo9740 commented on #173
Added the following to the bottom of the AccordionItem.svelte:

[code]

[2022-09-01 20:14] #173 closed

[2022-09-01 20:24] endigo9740 commented on #175
I've removed the hardcoded color values, allowing the text to default to the inherit text styles of the page. However, I've also introduced a new `color` prop that allows you to define the text colors for each individual table.

![Screen Shot 2022-09-01 at 3 23 42 PM](https://user-images.githubusercontent.com/1509726/188005363-f5f7bf50-d3c1-4881-9cfb-c4015b9941c8.png)

[2022-09-01 22:08] endigo9740 commented on #161
I've dropped [palettey](https://github.com/bartbergmans/palettey) in favor of [@bobthered/tailwindcss-palette-generator](https://github.com/bobthered/tailwindcss-palette-generator) and updated the hex generator form accordingly.

This provides MUCH more consistent results. Here's test supplying random hex colors on refresh:

![Kapture 2022-09-01 at 16 58 05](https://user-images.githubusercontent.c

[2022-09-01 22:11] endigo9740 commented on #161
@niktek @thomasbjespersen this is ready for QA

[2022-09-04 02:42] LukeHagar commented on #175
Fix validated

[2022-09-04 02:42] LukeHagar commented on #168
I really love this and the app shell, and I will be using them soon

[2022-09-04 17:38] #161 closed

[2022-09-04 17:40] #175 closed

[2022-09-04 17:41] #172 closed

[2022-09-04 17:42] #170 closed

[2022-09-05 20:27] endigo9740 commented on #158
FYI I constructed a simple Sveltekit app and implemented the AppShell, AppBar, and Drawer components. Everything worked as expected following the full documentation install instructions plus a local .tgz tarball version of the Skeleton package.

![Screen Shot 2022-09-05 at 3 25 18 PM](https://user-images.githubusercontent.com/1509726/188509640-30723d67-c3ce-4185-b7ae-c4dc64778664.png)

However I d

[2022-09-05 20:34] endigo9740 opened #183 "Gradient Heading throws A11y warning when package imported"
When creating a SvelteKit project using a tarball (.tgz) version of the package, built against dev, I receive the following A11y warnings when running `npm run start` to start the local dev server:

[code]

The Gradient Heading should be updated to adhere to this suggestion and silence this warning.

[2022-09-05 20:37] endigo9740 commented on #167
When testing the Drawer component within the Skeleton docs project, the Svelte transition animations work as expected. The drawer shim fades in, and the drawer itself slides in from its respective position side.

https://i.imgur.com/8bviYW3.mp4

However, when bundled into a tarball (.tgz) package and installed in a test SvelteKit project, only the fade animation is functional. The fly/slide animat

[2022-09-05 20:43] endigo9740 commented on #168
Tested this in standalone SvelteKit project, and worked as expected. See my results here:
https://github.com/Brain-Bones/skeleton/issues/158#issuecomment-1237440196

[2022-09-06 01:28] niktek opened #184 "Avatars resizing on load and refresh"
![Kapture 2022-09-06 at 11 23 14](https://user-images.githubusercontent.com/52020637/188527916-6e8dc9c4-e97b-433d-bc19-d8055018edd2.gif)

Happens on initial page load and refresh in Safari/Chrome/FF

[2022-09-06 01:30] niktek opened #185 "Dark mode always renders first on page reload"
![Kapture 2022-09-06 at 11 29 55](https://user-images.githubusercontent.com/52020637/188528149-85051258-2f24-4c73-9960-73aa07f98b45.gif)

[2022-09-06 03:32] endigo9740 commented on #185
Yeah I'm aware of this one. It's a bit of a red herring and not actually a new issue. Rather, it was introduced when we dropped the SvelteKit-specific lifecycle event in the LightSwitch in the prior release. The `onMount` event we use now allows the LightSwitch to work in Vite/Astro, but appears fire later in the overall startup lifecycle. However, what's interesting is (to my knowledge) it really

[2022-09-06 03:35] endigo9740 commented on #184
I've seen this as well and it's more noticeable now that we're using avatars on the homepage. I'll look to improve this before release this week!

[2022-09-06 04:48] endigo9740 opened #188 "Import SVG filters to Button docs"
With the new update we're moving filters from global scope in the root layout, to only exist on the doc pages where they're used. For now that includes Components > Buttons and Utilities > Filters. The latter should be setup properly, but the filters will need to be copied and setup on the Button docs as well.

There's no harm in keeping these in the root layout. This was just a bit cleaner in the

[2022-09-06 15:58] endigo9740 commented on #185
After discussing on Discord it sounds like we're on the same page here. Should only be a dev server issue. I'm going to close now but don't mind us revisiting in the future though.

[2022-09-06 15:58] #185 closed

[2022-09-06 16:00] endigo9740 commented on #188
I was wrong, this has already been handled. Closing the issue.

[2022-09-06 16:02] #184 closed

[2022-09-06 17:40] endigo9740 commented on #167
@niktek @LukeHagar

I'm at a bit of a loss on this issue. The Svelte fly transition works as expected when running the local dev server via `npm run dev` of the Skeleton project. It also works fine when you build `npm run build` and then preview with `npm run preview`. However, when I package it up and install the package in my standalone test app, the fly animation breaks every time. So far I've

[2022-09-06 18:32] endigo9740 commented on #167
Ok it gets a bit weirder still. If I drop the backdrop completely, make the drawer the root element in the component, then the fly animation works as expected! I'd been keen to use this, but it means the background area stays full opacity and you cannot click "off" the drawer to close it:

![skeleton-drawer-no-backdrop](https://user-images.githubusercontent.com/1509726/188711833-0fd17e35-ec85-4c76

[2022-09-07 10:14] niktek commented on #167
Interestingly it works fine in Safari, but not Chrome/FF

[2022-09-07 12:23] luke-hagar-sp commented on #185
I'm not sure if it's maybe my browser or not but I absolutely get this on the published Prod page
it's just faster

[2022-09-07 12:23] luke-hagar-sp commented on #185
IMO there may be a solution here, I'll dig into it

[2022-09-07 12:59] luke-hagar-sp commented on #185
I take it back, its so brief in prod I think I agree its not worth effort right now

[2022-09-07 16:36] endigo9740 commented on #167
That's why cross-browser testing is important Svelte team! Heh

[2022-09-07 17:18] endigo9740 commented on #168
Released as part of v0.37.32!

[2022-09-07 17:18] #168 closed

[2022-09-07 17:18] endigo9740 commented on #167
Released as part of v0.37.32!

[2022-09-07 17:18] #167 closed

[2022-09-07 17:18] endigo9740 commented on #158
Released as part of v0.37.32!

[2022-09-07 17:18] #158 closed

[2022-09-07 18:23] endigo9740 opened #194 "Improve Component Consistency"
We've created and implemented a lot of new design patterns and paradigms over the last few months. I think it would be useful to go through and ensure all components are in sync with the latest standards.

**NOTE: THIS UPDATE WILL INTRODUCE BREAKING CHANGES**

## Code Consistency

- [x] Ensure we're following similar conventions for component prop naming
    - [x] All instances of `borderSize` cha

[2022-09-07 18:25] endigo9740 commented on #194
@niktek @LukeHagar @thomasbjespersen (and anyone else) I welcome additional discussion or suggestions here!

[2022-09-07 18:35] endigo9740 opened #195 "Recreate Tooltip as a Svelte Action"
Currently the process of wrapping and using slots is a bit limiting. It means the target and tooltip have to live together. Like so:

![Screen Shot 2022-09-07 at 1 31 20 PM](https://user-images.githubusercontent.com/1509726/188952278-dd1ac1e2-b8e3-4599-bda2-6d5ed1890346.png)

However, it may be beneficial to make the break this apart and make the association more abstract and loose. The use case w

[2022-09-07 18:38] endigo9740 opened #196 "Investigate using Svelte Actions for Menus"
Similar to Tooltips (https://github.com/Brain-Bones/skeleton/issues/195) I believe Menus could benefit from making breaking out of the confines of a target/content sibling relationship.

I'll investigate the use of Svelte Actions (read: directives) to make this possible.

[2022-09-07 18:44] endigo9740 opened #197 "Refactor and improve the Dialog utility"
Updating these instructions to detail the current list of requirements and desired updates:

- [x] Better transitions when moving between queued dialogs
- [x] Should allow for custom/interchangeable svelte components as the modal contents
- [x] Consider implementing a universal "focus trap" action for code reuse, include as part of the library
- [x] Should remove hardcoded English words, for basic

[2022-09-07 18:47] endigo9740 opened #198 "Refactor and improve the Toast utility"
The store queue we have now fully supports this, we're just not taking advantage of it currently. The idea is toast messages would stack in some fashion, like so. Though I'm open to other suggestions!

[![image](https://cdn.arstechnica.net/wp-content/uploads/2020/11/big-sur-1.gif)](https://cdn.arstechnica.net/wp-content/uploads/2020/11/big-sur-1.gif)

[2022-09-07 18:55] endigo9740 opened #199 "New Action: Copy to Clipboard"
See a reference example here:
https://mantine.dev/core/copy-button/

Rather than recreating the wheel and trying to wrap and pass through Button component props (which could get messy), I suggest we implement this feature as a Svelte Action (read: directive):
https://svelte.dev/tutorial/actions

This would then act as an add-on to any existing intractable element - be that a Button component or ot

[2022-09-07 18:56] endigo9740 commented on #199
@niktek I know you expressed interest in this one, so let me know if you want help in learning how to implement and use Actions. They're really easy. The Svelte tutorials are great in this regard!

[2022-09-07 19:03] endigo9740 opened #200 "New Component: KBD (keyboard)"
See a reference here:
https://mantine.dev/core/kbd/

Honestly I wouldn't mind a straight 1:1 port of the Mantine version here. The plan is to use these on the component documentation pages to highlight available keyboard shortcuts (ex: ESC to close a Drawer)

I'd recommend referencing how the Skeleton [Badge component](https://github.com/Brain-Bones/skeleton/blob/dev/src/lib/Badge/Badge.svelte) wa

[2022-09-07 19:11] endigo9740 opened #201 "New Component: File Button"
References:
https://mantine.dev/core/file-button/

Similar to the plans for the [Copy to Clipboard action](https://github.com/Brain-Bones/skeleton/issues/199), I believe the File Picker might be better served as a Svelte Action instead of a dedicated component.

This one probably needs a bit of research, so feel free to review with me and other contributors (here or in Discord)

Please follow our

[2022-09-07 19:13] endigo9740 commented on #201
Added per @niktek suggestion

[2022-09-07 19:26] endigo9740 opened #202 "New Component: Swapper"
Reference:
https://daisyui.com/components/swap/

Implementation should be as follows:

Should use the context API to communicate between parent/child components. This allows for an infinite number of items to toggle through. This would be useful for things like dark mode toggles where you have multiple states: `system | dark | light`
[code]

Please follow our contribution guidelines when implement

[2022-09-07 19:33] endigo9740 opened #203 "New Component: Conic Gradient"
Note this component already exists here:
https://github.com/Brain-Bones/skeleton/blob/dev/src/lib/ConicGradient/ConicGradient.svelte

It's currently incomplete as I was struggling to find a proper means to pass in the color values. The radial gradient doesn't like CSS variables, and Tailwind doesn't currently have a utility class for this (to my knowledge).

It may be possible a third party Tailwi

[2022-09-07 19:34] endigo9740 opened #204 "Add "Copy to Clipboard" feature to Code Blocks"
Reference:
https://mantine.dev/core/code/

This seems like an obvious use case for the newly requested action. Though the action will need to exist before this is possible.

This is a blocking prerequisite:
https://github.com/Brain-Bones/skeleton/issues/199

[2022-09-07 19:42] endigo9740 opened #205 "New Component: Skeleton (placeholders)"
Reference:
https://bootstrap-vue.org/docs/components/skeleton

I'm a fan of how Bootstrap and other libraries handle this. Just a simple shape component with a subtle glowing animation.

![Screen Shot 2022-09-07 at 2 41 22 PM](https://user-images.githubusercontent.com/1509726/188963169-59c9b1d8-24fc-4e2e-9cd6-03bb7f391d52.png)

Let's start with at least these basic shapes, though text/button/input

[2022-09-07 19:52] endigo9740 opened #206 "New Component: Timer"
Here's a few examples of the visual UI. It needs to keep the minimalistic/flat design aesthetic of Skeleton, but personally I really like the "flip" panels like you might see at an airport or train station. Would be cool if we can combine those two ideas, but this is not a hard requirement.

![](https://cdn.dribbble.com/users/5725311/screenshots/14483761/media/cf6a686783514828b44ec2a80afb4cc5.jpg?

[2022-09-07 22:52] endigo9740 opened #207 "Allow for non-mapped data to be present in Data Table row selection"
The use case is something like this - imagine you had a table mapped with four columns:

[code]

But you wanted to include extra details included in your source data but not visually present it on in the UI. Something like this:

[code]

Currently when tapping the row we only present the data visibly present in the data mapping. However, we should consider providing the full set of data for the ro

[2022-09-07 22:54] salisshuaibu11 commented on #205
Will work on the Skeleton

[2022-09-07 23:54] niktek commented on #204
I'll take this one!

[2022-09-07 23:54] niktek commented on #206
I'll take this one!

[2022-09-07 23:57] niktek commented on #199
I'll take this one

[2022-09-08 00:25] LukeHagar commented on #200
@endigo9740 I would love to take a stab at this!

Ill examine the mantine example when I get a chance and mock something up.

[2022-09-08 00:48] endigo9740 commented on #200
Boom, assigned! Thank you sir!

[2022-09-08 00:50] endigo9740 commented on #200
On second though on this one, it may be possible to make the faux 3D effect just applying a thicker button border and rounding the element. Probably worth a try @LukeHagar

[2022-09-08 01:16] LukeHagar commented on #200
Good point, they should stand out alot

[2022-09-08 04:36] endigo9740 commented on #204
@niktek Per our discussion in Discord, it looks like this should be possible via a pass-through prop:

Source: https://stackoverflow.com/questions/66141626/svelte-how-to-pass-action-to-component

Implementation would look something like this:

`$lib/actions/copyToClipboard.ts`
[code]

`/whatever/+page.svelte`
[code]

`Button.svelte`

[code]

This does mean we would need to extend the Button compon

[2022-09-08 05:03] endigo9740 commented on #201
Note I'm 100% ok with us splitting the Dropzone to a separate dedicated ticket.

[2022-09-08 16:50] endigo9740 commented on #199
@niktek Per our discussion in Discord, it looks like this should be possible via a pass-through prop:

Source: https://stackoverflow.com/questions/66141626/svelte-how-to-pass-action-to-component

Implementation would look something like this:

`$lib/actions/copyToClipboard.ts`
[code]

`/whatever/+page.svelte`

[code]

`Button.svelte`

[code]

This does mean we would need to extend the Button compo

[2022-09-08 17:21] endigo9740 commented on #199
@niktek I updated the code examples above to match my working prototype. Here's the result when I click the button:

![copy-to-clipboard](https://user-images.githubusercontent.com/1509726/189185786-fac83828-0687-4165-a539-f48b6f0682fd.gif)

[2022-09-08 17:34] endigo9740 commented on #204
FYI @niktek, you are more than welcome to use a standard `<button>` element for the Code Block copy button. That would allow you to retain full control over the styling, no need to fight with the Button component styles. This would mean the Svelte action could be applied in the standard manner.

FYI If you need a copy icon Font Awesome has a good one. Just add it to the SVGIcon set:
https://fontaw

[2022-09-08 17:40] endigo9740 commented on #194
(reserving this space to note what has updated)

[2022-09-08 17:42] luke-hagar-sp opened #208 "New Component/Feature Theme Switcher"
What do we think of dynamic theme switching?

Maybe something similar to the functionality of the lightswitch, perhaps you could dynamically import Theme CSS files?

Maybe a dropdown selector?

[2022-09-08 18:44] endigo9740 opened #209 "PROPOSAL: Remap /lib directory file structure"
Currently we have a very flat structure with no hierarchy for what's contained within the `/lib` alias directory. Please be aware this would have minimal impact on the imports end users use, as most things are mapped via the package `.index.ts` file. This would mainly affect contributors working on this repository!

Here's the current `/lib` directory structure, as it is today:

[code]

That's a b

[2022-09-08 19:12] endigo9740 commented on #208
This has been proposed on the Roadmap already. See here:

![Screen Shot 2022-09-08 at 2 08 26 PM](https://user-images.githubusercontent.com/1509726/189205994-68c75c83-5e19-477e-95f9-ccf79116eec3.png)

The idea is I want users to be able to preview BOTH preset themes and custom created themes. But custom themes can be generated with both Tailwind colors and Hex colors. So essentially the CSS will h

[2022-09-08 19:15] endigo9740 commented on #209
Note that I split the Drawer/Toast utilities into their own separate directories under `/utilities` in the PR. This should have been done long ago!

[2022-09-08 19:33] endigo9740 commented on #208
By the way, if you agree this can wait for now I might suggest we close the ticket. We can always reopen or recreate later!

[2022-09-08 20:05] luke-hagar-sp commented on #208
Works for me!

[2022-09-08 20:05] #208 closed

[2022-09-09 02:35] #209 closed

[2022-09-09 03:21] endigo9740 commented on #209
After reviewing with other contributors we've opted to move forward with this. This is now merged into `dev` branch. Please pull before you begin work on new contributions please!

[2022-09-09 06:15] endigo9740 opened #211 "AppBar navigation links are in incorrect order"
![image](https://user-images.githubusercontent.com/1509726/189283589-b4c153e4-e95d-46e5-98bb-b86feb0a3620.png)

Should be:

`Guides | Docs | Components | Utilities`

[2022-09-09 16:12] #211 closed

[2022-09-09 17:25] endigo9740 opened #213 "File Structure and Navigation Improvements"
## General Updates

- [x] File directory improvements: https://github.com/Brain-Bones/skeleton/issues/209
- [x] Migrate `$lib/_documentation` to `$docs` (`/src/docs`) alias path
- [x] Migrate `$lib/styles/themes` to `$lib/themes`
- [x] Divide notification Dialog/Toast into their own utility directories, rename `Stores.js` -> `stores.js`
- [x] Improve separation and navigation of components/utiliti

[2022-09-09 17:28] #213 closed

[2022-09-10 13:11] ak4zh opened #215 "Allow multi select component"
Selecting multiple checkbox just like Radio Groups but allow selecting multiple values, for example, a Tag selector for blog tag filter.

The flavors section:
https://svelte.dev/tutorial/group-inputs

[2022-09-10 17:44] endigo9740 commented on #215
Radio groups use native radio inputs within, so I don't believe this will be possible. They are purpose built for handling a single selected value at any time.

You may want to opt for a different type of UI element if you have a use case for this in your own projects. There's native checkboxes of course, which you can read our recommendation for styling those here:
https://skeleton.brainandbonesl

[2022-09-10 18:30] endigo9740 opened #216 "Button component refactor"
Given the complexity and breadth of buttons being used, I'm going to pull this into its own ticket. But this is related to:
https://github.com/Brain-Bones/skeleton/issues/194

## Todo:

- Factor and cleanup code
- Allow passing through actions/actionParams
- Allow passing through `svelte:prefetch` and similar
- Improve styling and variant code logic
- Consider dropping size presets or re-evaluatin

[2022-09-10 19:11] endigo9740 opened #217 "Data Table reactor and cleanup"
Per: https://github.com/Brain-Bones/skeleton/issues/194

Given the complexity of the Data Table component I'm pulling this out to it's down dedicated ticket. The Data Table is also widely used in our docs, so this could require quite a bit of update for even small changes.

We might also make considerations for implementing a template-driven table or some other means to insert components into the

[2022-09-12 16:54] jamesnewportbeach opened #218 "Expose Lightswitch store?"
Can I somehow gain access to the Lightswitch store? I need to inform other components about that state when it changes and set it's state manually

[2022-09-12 17:51] endigo9740 commented on #218
Hey @jamesnewportbeach, this is not a use case we had accounted for, so we haven't made this super friendly to do this yet. However, it should be technically possible to do. I might recommend you review the component source here:

https://github.com/Brain-Bones/skeleton/blob/master/src/lib/LightSwitch/LightSwitch.svelte

You'll note we use `<script context="module">` at the top, which is what allo

[2022-09-12 18:18] jamesnewportbeach commented on #218
I'm just not using localStorage to save where this setting is - i'm saving it in a database so when users change machines, their settings are retained - i'd love it if I could do that easily somehow without mucking with localStorage

[2022-09-12 18:25] jamesnewportbeach commented on #218
Maybe if the value attribute is set on it, the component ignores localStorage and binds to the value, then it emits an on:change event upwards so we can set the value to whatever persistence layer we want...

[2022-09-12 18:29] endigo9740 commented on #218
I see, so you're trying to persist mode per an account (remotely) versus locally per device. We were certainly only targeting the latter in case preference differs device to device. Like, light mode might be better when you're outside on mobile, versus dark mode when you're inside at home.

In that cause this would require an extension to the Light Switch component to expose this information direc

[2022-09-12 23:12] salisshuaibu11 commented on #216
Fill property is not taking effect on the button

[2022-09-13 02:36] endigo9740 commented on #215
Closing due to inactivity.

[2022-09-13 02:36] #215 closed

[2022-09-13 02:39] endigo9740 opened #220 "Contribution guide updates"
A first time contributor may not know how to handle the process of submitting their first pull request (ex: fork, branch, update, push, PR). But I found two excellent resources that do a great job of walking you through the process...

This provides a lot of great high level details:
https://opensource.guide/how-to-contribute/

Likewise this provides step-by-step examples that guide folks through

[2022-09-13 16:38] figuerom16 opened #221 "<App Bar> css background dark fails to load custom setting."
Issue: In Dark Mode App Bar changes to lightest bg-surface-100 when changing dark:bg-surface-800 to dark:bg-surface-**900**.
Secondary: Tailwinds arbitrary value syntax doesn't work in App Bar dark:bg-#[000000]

Snippet in /src/routes/+layout.svelte:
`<AppBar background="bg-surface-100 dark:bg-surface-900">`

Steps to reproduce the issue:
1. Navigate to https://skeleton.brainandbonesllc.com/ then

[2022-09-13 18:23] endigo9740 commented on #221
Hi @figuerom16, first off thanks for the kind words! We're glad to help!

Unfortunately I think you may be misunderstanding how Tailwind process classes with it's compiler. I'd be very leery of modifying Tailwind classes from the browser like that. Keep in mind that, when run, Tailwind's compiler is creating classes that match what's defined in your project files. By the time things hit the browse

[2022-09-13 18:42] endigo9740 opened #222 "Stepper update to drop length/index props"
We had a great suggestion on the Svelte support section that explained how we can build the child count (length prop) and child index values (index props) into the components to be automatically generated and maintained.

Here's a basic proof of concept:
https://svelte.dev/repl/e2ca4f024dfa482f9715edab4f67b677?version=3.50.1

Here's a more advanced version that allows for children to be added/remo

[2022-09-13 18:54] figuerom16 commented on #221
I see I must have something misconfigured then in my project.
For some reason dark:bg-surface-700 and dark:bg-surface-800 works correctly, but fails for all other values of 100 (reverts to bg-surface-100).
<AppBar background="bg-surface-100 dark:bg-surface-900">

I'll double check the guide/documentation to see if I missed an important config and update if I figure out what I missed.

[2022-09-13 18:58] endigo9740 commented on #221
If the colors themselves are failing then perhaps check your theme? If you don't mind posting which presets your using here please, or if you generated your own please care the full generated CSS.

[2022-09-13 18:59] figuerom16 commented on #221
[code]

[2022-09-13 19:02] endigo9740 commented on #221
I've copy/pasted your exact background prop shown above and tested in both the Skeleton default theme, as well as the them you provided. Here's the results....

Skeleton theme:

![Screen Shot 2022-09-13 at 2 00 03 PM](https://user-images.githubusercontent.com/1509726/189987642-709ff8b1-168b-40fb-9fb3-b80a5d7698d2.png)

![Screen Shot 2022-09-13 at 2 00 07 PM](https://user-images.githubusercontent.c

[2022-09-13 19:04] endigo9740 commented on #221
Off the top of my head, the only other thing I'd be curious to see is your Tailwind config. Perhaps share that if the repo is private?

[2022-09-13 19:07] figuerom16 commented on #221
Project is really barebones.  I'll get it setup in a repo, but here is the config for now.
tailwind.config.cjs
[code]

[2022-09-13 19:17] endigo9740 commented on #221
Ok thanks for sharing. Yeah that looks to be correct. let me know when the repo is ready and I'll pull down and see if I can replicate on my end. But everything I've seen so far looks to be setup correctly.

[2022-09-13 22:08] figuerom16 commented on #221
Sorry this took me a little bit.  I wanted to do my due diligence and try it again from scratch and reread the documentation.  I hope it's something silly I missed and not a bug.
https://github.com/figuerom16/SkeletonTest

[2022-09-13 22:13] endigo9740 commented on #221
Thanks! I'm about to step away from my computer for a bit, but I'll look this over tonight and respond asap with my findings. I'm sure we can get it figured out for you!

[2022-09-13 22:53] endigo9740 opened #223 "Add new "region" props for supplying arbitrary styles"
This is an extension of the consistent updates:

- https://github.com/Brain-Bones/skeleton/issues/194

This process has been started for several components, but needs to be extended to all. To see an example refer to the updates to the AppBar on the `feat/consistency` branch, or review `dev` once that's merged.

My recommendation is we note these new classes on the Slots table per each component d

[2022-09-13 23:42] ak4zh opened #224 "Toast with promise"
I really like the overall appearance of https://svelte-french-toast.com/
They also have these promise feature:

[code]

Expectations:
1) Add a similar promise feature
2) Stack toasts one after another horizontally, currently skeleton just throws all toast at same place on top of each other. Click short toast in the demo multiple times you won’t realise new toasts are appearing as they are just sta

[2022-09-14 00:57] salisshuaibu11 commented on #198
Why do you prefer it this way instead of stacking them on top of each other, though the UI is cool, in the end, the toast is still going to disappear after some time. But I think we can utilize the two by allowing the user to opt for the one he wants to use.

In the case of notifications, we can use the store queue just like the way this reminder is functioning, but for things like deleting, creat

[2022-09-14 01:00] endigo9740 commented on #224
Would you mind migrating this comment over to this ticket please:
https://github.com/Brain-Bones/skeleton/issues/198

I can look at modifying the functionality while I'm at it.

Thanks!

[2022-09-14 01:05] endigo9740 commented on #198
I haven't settled on any particular UI or layout yet. I'll dive deeper into this once I get to this ticket, which should be later this week. Just wanted to show an example of what's possible.

The length of time they display can be adjusted, and there's setting to persist until dismissed. So it is possible for them to queue up. We need to handle that display when this occurs, or multiple come in a

[2022-09-14 02:13] endigo9740 commented on #194
(reserved - I'm going to self-report some issues here)

[2022-09-14 02:14] endigo9740 commented on #194
This is ready to test! Everyone is welcome to pull down the PR and test locally. Please submit your feedback here. Thanks!

[2022-09-14 02:30] #224 closed

[2022-09-14 02:38] endigo9740 commented on #200
FYI Luke has other other stuff come up so this component is available to anyone who wishes to take it on! Please let me know and I'll reassign it asap. Thanks!

[2022-09-14 02:39] endigo9740 commented on #218
I've gone ahead and marked this a feature request. May not make it in the next update, but at least it's here and available!

[2022-09-14 03:12] endigo9740 commented on #221
@figuerom16 Sorry for the delay, it's been a busy day!

I just pulled down and figured out the issue thought. It's really two small things in your Tailwind config. Here's the full change:

[code]

First, you may want to go ahead an follow Tailwind's recommendation for handling Dark Mode. See the instructions here:
https://tailwindcss.com/docs/dark-mode

We've already got some improvements in place

[2022-09-14 03:12] endigo9740 commented on #221
One final note. It may help to go ahead and use our stylesheet add-ons. These are just a set of canned styles that will take care of stuff like background color, text color, typography, etc for you. You can still override whatever you wish in your own project's app.postcss (global stylesheet)

https://skeleton.brainandbonesllc.com/guides/styling

Here's the result with this and a few small CSS sty

[2022-09-14 04:07] figuerom16 commented on #221
Thank you so much for taking the time to go over this!  It works perfectly and is super sleek with the lightswitch and different components I've been trying in the body.  I almost feel like a real frontend person.  (I'm from way in the back.)

You definitely caught me on not knowing Tailwind very well yet; I'm coming from Bulma.io if that says anything.  I did also miss the additive part for tailw

[2022-09-14 04:09] #221 closed

[2022-09-14 04:28] endigo9740 commented on #221
Well shoot, those are some kind words! I'm thrilled that our humble little project can help you at all. And much respect to the folks in the "back". I very much appreciate and admire what you do as well.

To be fair I'm still learning Tailwind as well. I really only started using when my partner and I began work on Skeleton ~6 months ago. I'm still learning new tricks and techniques every day. But

[2022-09-14 04:58] endigo9740 commented on #205
This is complete and merged, so closing the issue. Thanks again @salisshuaibu11!

[2022-09-14 04:58] #205 closed

[2022-09-14 06:41] salisshuaibu11 commented on #205
My pleasure

[2022-09-14 19:50] jamesnewportbeach opened #226 "Tight version of Buttons and Radio Groups"
Can we get a tight version of the buttons and radio groups? Something less than p-5!!!! - ideally i'd like "text-xs p-2" - I don't see a way to do this currently

[2022-09-14 21:45] endigo9740 commented on #194
Note I've completed a round of updates. The first was just general QA and cleanup fixes. The second added more "selector classes", the id-like classes we use to describe each element within the component templates.

[2022-09-14 21:54] endigo9740 commented on #226
Hey James, we have a button update slated here: https://github.com/Brain-Bones/skeleton/issues/216

Per buttons, would you migrate this comment over to that ticket? It'll help if all information is in one place.

Per radio groups, these have undergone a refactor and redesign. Here's they they'll look like in the next release:

![Screen Shot 2022-09-14 at 4 53 33 PM](https://user-images.githubuserc

[2022-09-14 21:58] endigo9740 commented on #226
Here's what the radio groups look like in action. We've added better hover states for mouse user:

![radio-groups-anim](https://user-images.githubusercontent.com/1509726/190270342-148395e0-eae0-4fea-9038-0304619eec16.gif)

[2022-09-14 22:06] endigo9740 commented on #217
The use case is something like this - imagine you had a table mapped with four columns:

[code]

But you wanted to include extra details included in your source data but not visually present it on in the UI. Something like this:

[code]

Currently when tapping the row we only present the data visibly present in the data mapping. However, we should consider providing the full set of data for the ro

[2022-09-14 22:06] endigo9740 commented on #207
Adde this as a comment here: https://github.com/Brain-Bones/skeleton/issues/217

[2022-09-14 22:06] #207 closed

[2022-09-14 23:04] salisshuaibu11 commented on #200
I will take this issue

[2022-09-15 01:29] endigo9740 commented on #200
@salisshuaibu11 Here's the final CSS we worked up:

[code]

Just drop the component, add this to the bottom of the `typography.css` file, then submit that as a PR. I'll accept it asap!

Thanks again for working with me and Nik on this! Always nice when we can collab as a group!

[2022-09-15 01:33] endigo9740 opened #227 "Create a "showcase" page for our style add-ons"
This would be useful for showing how `<code>`, `kbd`, and other similar CSS-only styles are applied. This will also indicate how to use them, and maybe even link to the appropriate MDN documentation as relevant. We'll model this after the new form elements "kitchen sink" page.

[2022-09-15 04:44] endigo9740 opened #228 "Mobile responsive layout issues on Docs site"
@luke-hagar-sp reported the footer is not entirely visible when viewed on an actual phone (works in the Chrome mobile simulator)

Also a couple elements on the homepage are not laid out as expected, the main hero CTAs go off the right edge.

Probably best to do a full mobile pass through.

If anyone else sees similar issues let me know here please!

[2022-09-15 11:53] salisshuaibu11 commented on #198
i came across this in twitter:

https://twitter.com/blvdmitry/status/1569772945702010881?s=20&t=oYVk5qc9u7HD8b-2Q6X2UQ

[2022-09-15 11:53] salisshuaibu11 commented on #198
i came across this in twitter:

https://twitter.com/blvdmitry/status/1569772945702010881?s=20&t=oYVk5qc9u7HD8b-2Q6X2UQ

[2022-09-15 12:01] salisshuaibu11 commented on #201
I think is better if the dropzone would be a separate ticket

[2022-09-15 14:26] #200 closed

[2022-09-15 15:24] #228 closed

[2022-09-15 15:49] lazyturd commented on #220
Hello. I'd like to be assigned to this

[2022-09-15 15:58] endigo9740 commented on #220
Awesome, thanks. This has been assigned to you!

[2022-09-15 18:38] endigo9740 commented on #194
Merged this into dev, but reopening this ticket so QA can continue forward over the next week.

[2022-09-15 19:46] endigo9740 commented on #226
@jamesnewportbeach FYI I created a new discussion thread and video update related to these pending updates. See it here: https://github.com/Brain-Bones/skeleton/discussions/231

Feel free to follow the instruction provided if you wish to provide additional feedback on these upcoming changes. For now I'm going to close this ticket. Don't be afraid to pop into the ticket mentioned and continue this

[2022-09-15 19:46] #226 closed

[2022-09-15 20:37] endigo9740 commented on #227
Done!

![Screen Shot 2022-09-15 at 3 32 03 PM](https://user-images.githubusercontent.com/1509726/190503954-6eaed308-8507-4fdd-ac2a-64edd5e23ec1.png)
![Screen Shot 2022-09-15 at 3 30 58 PM](https://user-images.githubusercontent.com/1509726/190503956-b2bcf57e-a554-4ef7-8b6f-c8cb35a855e2.png)
![Screen Shot 2022-09-15 at 3 36 57 PM](https://user-images.githubusercontent.com/1509726/190503957-6b87f8ac-

[2022-09-15 20:41] #227 closed

[2022-09-15 23:54] salisshuaibu11 commented on #194
1. The fill property on the button component is not taking effect.
2. If you check the list component under selection ListBox there is a writing typo in the description the "to" that comes before the store needs to get removed.
3. missing toggles for rounded and cursor props in the Avatar component, I think it will make sense if you add those.
4. There is a need to add an interactive example for t

[2022-09-16 00:02] endigo9740 commented on #216
I have kind of a wild proposal for buttons. Put frankly, I think our dependence on a component is not the best way to handle these elements. Instead, we should opt for a route not unlike what we're doing with form inputs - that is, lean more into Tailwind CSS. However, unlike forms, this won't require an extra plugin. Just an "add-on" stylesheet like typography.css.

Reference:
https://skeleton.br

[2022-09-16 01:03] endigo9740 commented on #194
@salisshuaibu11  The button component wasn't touched in this update. It's been pulled to it's own dedicated ticket. But I noted your posted on there already.

We're adding interactive examples over time as I'm still settled on the best way to handle a few things. We'll have them for most components eventually. Though some like Cards work a bit better as is.

Let's chat about the Breacrumb a bit mo

[2022-09-16 16:36] endigo9740 commented on #216
Note to self: test outline selection highlighting on mobile devices

[2022-09-16 16:56] ak4zh opened #236 "Use :focus-visible instead of :focus in buttons"
Adding the `:focus` pseudo-class to an element will make it show a focus specific styles and **disregard browsers heuristics**. The `:focus-visible`, in contrast, applies custom styling **only if it would be shown natively**. [Source](https://pawelgrzybek.com/the-difference-between-css-focus-and-focus-visible-pseudo-class/#css-focus-vs-focus-visible)

**More Reference:**
https://developer.mozilla.

[2022-09-16 19:40] endigo9740 commented on #216
A few updates...

I recommend checking the proposed button updates here to understand what I'm about to explain:
https://github.com/Brain-Bones/skeleton/issues/216#issuecomment-1248768730

But I've come up with a solution for how to present the new CSS buttons compare to the prior Svelte Components. The inspiration comes from how we're using Forms - were we just use Tailwind and CSS to style these

[2022-09-16 20:14] endigo9740 opened #237 "Documentation Reorganization"
Prerequisite: https://github.com/Brain-Bones/skeleton/pull/233

Let's adjust a few things:

- [x] Move Tailwind install from "Getting Started > Install" to "Tailwind Settings"
- [X] Break up the "Getting Started > Styling > Preview" page into "Tailwind Elements > X" (Core and Typography separated)
- [X] Update the new "Tailwind Elements > Forms" section to match the component page layout flow (add

[2022-09-16 20:46] endigo9740 commented on #68
I'm feeling pretty confident about the three primary frameworks we support right now, so I'm going to go ahead and close this issue. If requests come in for Routify or similar we can always generate new tickets in the future.

[2022-09-16 20:46] #68 closed

[2022-09-16 20:46] endigo9740 commented on #150
@niktek Still interested in taking this on? If so leave a comment here and I can assign to you.

[2022-09-16 20:50] endigo9740 commented on #152
I've been meaning to update this ticket, but I did do some research into supporting these alternative libraries. Unfortunately they are not plug and play replacements.

- UnoCSS: this essentially allows you to create your -own- Tailwind-like utility system. But would not include any of the utility classes used within our components by default. Level of effort would be too high to support this righ

[2022-09-16 20:50] #152 closed

[2022-09-16 20:51] endigo9740 commented on #151
Note that the new proposed Button Refactor opens the door to handling button visual a11y by allowing for easier global overrides of styling:

https://github.com/Brain-Bones/skeleton/issues/216

[2022-09-16 20:56] endigo9740 commented on #198
@salisshuaibu11 This is great! I like that a lot. It's more of what I had in mind for sure.

[2022-09-16 23:00] endigo9740 commented on #198
I've made a bit of progress on this. It now allows for multiple to show vertically stacked, and also allows for custom background color per toast.

![toast-queue](https://user-images.githubusercontent.com/1509726/190828276-caac961e-192c-4e03-a73b-9219d7d614ae.gif)

Still working on some timeout bugs and the 3D stacked effected. But will return to this later!

[2022-09-16 23:27] salisshuaibu11 commented on #198
Nice work

[2022-09-17 02:00] endigo9740 commented on #150
https://github.com/davipon/svelte-component-test-recipes

[2022-09-17 10:20] salisshuaibu11 commented on #216
This is indeed a really good idea I think, I have come across this in one svelte repository you can check it out:

https://github.com/AgnosticUI/agnosticui/blob/master/agnostic-svelte/src/lib/components/Button/Button.svelte

[2022-09-17 17:13] endigo9740 commented on #216
It's a similar idea, but they appear to still be providing a Button component. With the change above we wouldn't. You would use native browser button/anchor tags and then utilize our utility classes to style the buttons as you wish. It's a purely CSS solution, not unlike something like Flowbite.

[2022-09-17 17:22] salisshuaibu11 commented on #216
Yeah understood, just like the way we are utilizing tailwind classes. So we will not have any Button component just like the way we don't have it for other form elements.

[2022-09-17 17:29] endigo9740 commented on #216
Awesome, well thanks for checking out out @salisshuaibu11! My plan will be to move forward with implementing this at the de facto option in the Docs site today. But I'll hold off on deleting the Button component for any stragglers that still want to test it before it's merged.

[2022-09-17 19:07] endigo9740 commented on #216
(I'll update this message soon)

[code]

[2022-09-17 22:23] endigo9740 commented on #226
@jamesnewportbeach I wanted to give you a heads up we've nearly complete the update for migrating away from Button components and instead favoring native button/anchor elements, but with Tailwind-like utility classes.

You had requested more control over button sizes, so here's a sneak peak at the defaults. But given these are controlled purely with CSS, you can define any sizing you wish!

![Scre

[2022-09-17 23:51] salisshuaibu11 commented on #220
@lazyturd how is the contribution guide update coming up

[2022-09-18 01:40] endigo9740 commented on #216
These changes have been merged in to the `dev` branch, but this ticket will remain open so QA testing can continue.

[2022-09-18 05:56] lazyturd commented on #220
Hello, Good morning
I'm just slightly confused. Did you want me to create a contribution markdown file or just edit the one on the website and if it's the latter, how do I access the contribution page on the website

[2022-09-18 06:19] endigo9740 commented on #237
Note, a couple of these items were completed when #233 was merged into the dev branch. I've updated the list accordingly.

[2022-09-18 10:22] niktek commented on #194
Safari (of course) doesn't show the initials on components/avatars even though the rendered HTML has it and it shows fine in other browsers like Chrome.

[2022-09-18 11:18] niktek commented on #194
Safari..... http://localhost:5173/components/range-sliders Accent doesn't work.  Works fine in other browsers.

[2022-09-18 17:58] endigo9740 commented on #194
Yeah, I'm aware. Hopefully they resolve that soon!

[2022-09-18 18:15] endigo9740 commented on #220
@lazyturd @salisshuaibu11 I'm already in-progress on a related issue so I'm just going to fold these changes into this ticket: https://github.com/Brain-Bones/skeleton/issues/237

If you have questions about contributing, then the contribution guide is meant to answer this. So hopefully with the revisions I made it'll make the process more clear! Very meta, but hopefully it helps :)

Thanks for you

[2022-09-18 18:16] #220 closed

[2022-09-18 18:27] endigo9740 opened #240 "Migrate presentational components to Tailwind Elements"
This will go through a similar process to Button components. There's really no good reason for these to be Svelte components. They would operate much better as Tailwind-style utility class styles.

Let's convert the following:

- [x] Badges - exactly like buttons, but using `<span class="badge">`
- [x] Logo Cloud - purely presentational, but should support anchors.
- [x] Dividers - keep the compon

[2022-09-19 01:05] endigo9740 commented on #240
All updates mentioned above have been applied. A PR has been created to review these upcoming changes.

Note that we may extend consider converting AppBar and Placeholder components to Tailwind Elements as well! I'll decide tomorrow!

[2022-09-19 01:18] endigo9740 commented on #240
NOTE TO SELF:

- Update the Guides > Styling page table
- Ensure all automated tests are accurate and passing

[2022-09-19 07:22] endigo9740 commented on #202
Alternative idea: apply a Svelte action to a parent element. Then follow the same logic flow. Initially on the first item is visible, each tap toggles to the next, and when you reach the end it returns to the start to loop again.

[2022-09-19 22:20] endigo9740 commented on #240
All changes above are now completed and pushed to the branch. I believe with this all components that are going to be converted to Tailwind Elements are now ready. Testing can begin asap.

[2022-09-19 22:55] endigo9740 commented on #240
Merged into the dev branch, but re-opening this so testing can continue.

[2022-09-19 23:04] endigo9740 opened #243 "Create migration guide for updating to the next release"
This will cover at minimum:

- The new Tailwind config plugin path (slightly changed)
- The new CSS stylesheets importing - recommending `all.css` for now
- Explain Tailwind Elements vs Svelte Components
- Explain what components were converted to Tailwind Elements
- Cover the new "kitchen sink" pages for typography/forms.
- List migration best practices (find/replace, search caps, etc)
- Notify t

[2022-09-20 20:29] endigo9740 commented on #194
@salisshuaibu11 @niktek The items you mentioned above have been fixed and changes push to `dev` branch. Please confirm.

@salisshuaibu11 I didn't include the Avatar `cursor` in the preview because it's not very visibly notable. Also we never followed up on your issue with the breadcrumbs. If you can provide more details on what's unclear there I'd be happy to explain. Breadcrumbs are a component t

[2022-09-20 20:31] endigo9740 commented on #204
Re-opening and marking "ready for QA"

[2022-09-20 20:31] endigo9740 commented on #199
Re-opening and marking "ready for QA"

[2022-09-20 22:24] #237 closed

[2022-09-20 22:57] salisshuaibu11 commented on #194
Is okay, is clear now.

[2022-09-21 01:02] niktek opened #248 "Search box minor issues"
Can't restore full menu when clearing search term with X in search box.
Might make sense to make the box sticky as it will never show via normal navigation (top navbar) unless the user scrolls up in the LHS nav section.  Would also be handy to have it present even when you are browsing in Utilities.

[2022-09-21 03:00] endigo9740 commented on #243
https://github.com/Brain-Bones/skeleton/discussions/250

The first draft is available here. I welcome any an all feedback for improving this!

@niktek

[2022-09-21 03:30] endigo9740 commented on #248
@niktek FYI I've pushed a small update fix the X button clearing now restoring the menu. I was using the `on:keyup` event, when I should have been using `on:input`. This portion now works as expected.

Making it sticky is a great suggestion, but would require more structural and design changes than I feel comfortable with this late. We'll keep this ticket open to handle this in the next release.

[2022-09-21 04:05] endigo9740 commented on #223
Alternative idea: don't focus purely on slots, but rather "regions". This is more general purpose!

[2022-09-21 04:43] endigo9740 opened #254 "Consistency Update - Part 2"
This is a continuation and overflow from this ticket: https://github.com/Brain-Bones/skeleton/issues/194

This includes updates that were not completed and that should be prioritized for the next release.

## General Updates

## Actions

### Menus

Release in v0.50.6

- https://github.com/Brain-Bones/skeleton/issues/196
- The Menu component has been removed
- A new `menus.css` stylesheet has been

[2022-09-21 04:45] endigo9740 commented on #194
I've created a new ticket to track the progress on these updates for the items not completed in this upcoming release:
-https://github.com/Brain-Bones/skeleton/issues/254

[2022-09-21 04:50] endigo9740 commented on #151
Note that we've also update the default typography to improve color contrast rations. So a bit more progress here!

[2022-09-21 05:09] ryceg commented on #151
It's worth noting that the `@prefers-contrast` media query (`:contrast-more` in Tailwind) has support for both `less` and `more`, and might be a good option for making things more a11y friendly.

[2022-09-21 05:18] endigo9740 commented on #151
@ryceg Really great info to know! Thanks!

I am still relatively new to the a11y side of things, but trying to learn and improve. Any other tips are absolutely welcome, visual or otherwise.

[2022-09-21 08:14] niktek opened #255 "Don't update @sveltejs/package to next.4"
There are issues that are still being resolved - https://github.com/sveltejs/kit/pull/6932

[2022-09-21 09:45] Sarenor opened #257 "Issues with Component Rework: List & List-Nav"
List & List-Nav:
The migration guide suggests:
[code]
The css applied to list nav and the Skeleton Showcase omit the ``<li>`` element though, meaning you currently have to add
[code]
Yourself if you want to use ``<li>``-wrapped anchors in navigation.
After giving it more of a try, the ``<li>`` should probably just be removed from the documentation

[2022-09-21 10:04] Sarenor opened #258 "Issues with Component Rework: Cards"
Importing `import '@brainandbones/skeleton/styles/cards.css';` like suggested in the new Card Docs leads to:
 `[vite] Internal server error: Missing "./styles/cards.css" export in "@brainandbones/skeleton" package`

Using `import '@brainandbones/skeleton/styles/all.css';` works as expected.

[2022-09-21 18:06] endigo9740 commented on #257
@Sarenor You may have missed it, but I included some text under the Navigation List usage text that explain how we settled on the structure. It's due to accessibility (a11y) concerns:

![Screen Shot 2022-09-21 at 12 57 27 PM](https://user-images.githubusercontent.com/1509726/191577027-528f467b-6b1a-4ad0-98e3-d8be0a6dc242.png)

Per this linked page the guidelines show the following (NOTE: i've shor

[2022-09-21 18:11] endigo9740 commented on #257
I've updated the text slightly to this:

[2022-09-21 18:20] endigo9740 commented on #258
Good catch! We originally had all stylesheets in the root of `/styles`, but we made a late change to group the custom UI elements (buttons, badges, cards, etc) under the "/elements" directory. The import statements are inaccurate so I'll update accordingly!

![Screen Shot 2022-09-21 at 1 19 23 PM](https://user-images.githubusercontent.com/1509726/191580930-295f2afc-0374-4819-9dab-4d3f2f34aedf.png)

[2022-09-21 18:24] endigo9740 commented on #258
This actually needed to be corrected for all of these, so thanks for letting me know!

The correct import path is as follows:

`import '@brainandbones/skeleton/styles/elements/cards.css';`

Just swap out cards for any of these others.

![Screen Shot 2022-09-21 at 1 22 46 PM](https://user-images.githubusercontent.com/1509726/191581688-702fef7a-1f01-4b1e-adbe-4c9e39973399.png)

[2022-09-21 18:25] #258 closed

[2022-09-21 18:26] endigo9740 commented on #257
Also, unrelated, but I've included instruction for how we suggest handling TW element nav list highlight states. This aligns with how we handle this for our sidebar lists:

![Screen Shot 2022-09-21 at 1 26 09 PM](https://user-images.githubusercontent.com/1509726/191582165-d70d536e-3a75-4184-93f1-65022282456b.png)

[2022-09-21 18:27] #257 closed

[2022-09-21 18:31] Sarenor commented on #257
You're right it works with
[code]
I apparently still had an issue with my CSS imports when I tested that because it looked absolutely horrible.

Still might want the skeleton showcase to also use <li> around the anchor tags then though.
Thanks for the response and sorry for needlessly taking your time!

[2022-09-21 18:34] endigo9740 commented on #257
Sorry I'm not sure what you're referring to with your bullet point. Where would that note go?

[2022-09-21 18:37] #255 closed

[2022-09-21 21:15] ak4zh opened #261 "Allow selecting range in RangeSlider"
Currently, RangeSlider is just a Slider, it does not allow selecting a range.
- Allow selecting range by providing multiple thumbs

![image](https://user-images.githubusercontent.com/26350053/191611699-91b2a546-47e4-4893-bf2a-75fcedf8f7a4.png)

Can be down by adding a low and high prop, or a values array.
Reference: https://github.com/simeydotme/svelte-range-slider-pips#slider-props

[2022-09-22 01:27] ryceg commented on #202
I'll take this

[2022-09-22 01:31] endigo9740 commented on #202
I've assigned it to you. Thanks!

[2022-09-22 02:50] salisshuaibu11 commented on #201
@endigo9740 i want to take this

[2022-09-22 02:58] endigo9740 commented on #201
Thanks Salisu, I've assigned this to you. I'll go ahead and split the Dropzone off to it's own ticket.

[2022-09-22 03:00] endigo9740 opened #268 "New Component: File Picker Dropzone"
References:
https://mantine.dev/others/dropzone/

![Screen Shot 2022-09-26 at 5 04 07 PM](https://user-images.githubusercontent.com/1509726/192388885-7c475ac1-11b0-4072-9e0e-84b2f1dc090b.png)

This will work almost identical to the File Button component:

- https://github.com/Brain-Bones/skeleton/issues/201#issuecomment-1254449966

The only difference is this doesn't include button UI, but rather

[2022-09-22 03:02] endigo9740 commented on #240
Released!

[2022-09-22 03:02] #240 closed

[2022-09-22 03:02] endigo9740 commented on #243
Released!

[2022-09-22 03:02] #243 closed

[2022-09-22 03:02] endigo9740 commented on #216
Released!

[2022-09-22 03:02] #216 closed

[2022-09-22 03:02] endigo9740 commented on #204
Released!

[2022-09-22 03:02] #204 closed

[2022-09-22 03:03] endigo9740 commented on #194
Part 1 is released. Part 2 coming up soon!

[2022-09-22 03:03] #194 closed

[2022-09-22 03:03] endigo9740 commented on #199
Released!

[2022-09-22 03:03] #199 closed

[2022-09-22 03:27] salisshuaibu11 commented on #201
Alright

[2022-09-22 04:15] endigo9740 opened #269 "Theme Generator Overhaul"
Lots to do here:

- Nuke it from orbit and start over.
- Merge the two components into one.
- Clean everything up.
- Add support for "lightness" feature
- Move to a dedicate page w/ kitchen sink of preview components
- Prep for [theme picker support](https://github.com/Brain-Bones/skeleton/issues/270)

[2022-09-22 04:19] endigo9740 opened #270 "Docs: Theme Picker"
Prerequisite issue: https://github.com/Brain-Bones/skeleton/issues/269

The initial goal here is to show the flexibility of our theme system, what better way to do that than to show people live on the documentation site? A few thoughts:

- Best bet is using [Svelte Head](https://svelte.dev/tutorial/svelte-head) to manipulate the stylesheet in the header per our [proof of concept](https://svelte.de

[2022-09-22 04:20] endigo9740 commented on #270
@luke-hagar-sp Is it time?!

[2022-09-22 06:51] RadioRambo opened #271 "[Help] Is there any simple way to set roundness of all components to none?"
I want all my components to look rectangular with zero roundness like carbon components.
Is there any method to achieve those results?

[2022-09-22 14:18] ainesophaur opened #272 "elements css produces The `aspect-square` class does not exist error"
Switching to v0.41.48 produces the following error after going through the migration steps

[code]

I'm using skeleton inside a sveltekit project that uses vite and postcss

Here is my updated root layout svelte page

[code]

[code]

[code]

[2022-09-22 16:03] endigo9740 commented on #271
Not a completely effortless way, but I've been brainstorming some ways to handle this. It may tie into our upcoming theme updates. What I'd actually like to do is make the default square across the board, then allow for a quick manner to override and set that to the desired roundness at a global level. That way everything is consistent. While still being able to override per component if you wish.

[2022-09-22 16:06] endigo9740 commented on #271
FYI I tested the radio group change locally and `!` was not needed.

[2022-09-22 16:14] endigo9740 commented on #272
I see you're using all.css which should do most of the heavy lifting when it comes to the CSS side of things. These may be silly questions since you mention you're migrating, but can you confirm the following:

1. You have Tailwind installed - seems so as the configuration is there and looks right.
2. Do you have a global stylesheet setup? Can you ensure you don't have the @tailwind directives ins

[2022-09-22 18:29] ainesophaur commented on #272
1. Tailwinds ^3.1.8 is installed
2. I do have a global style sheet (the `src/app.postcss` section above) and confirm that all the tailwinds directives are not present.

Disabling the aspect ratio plugin solved the issue. Let me know if you'd still like a sample repo to dig into it further, but I do not need the aspect ratio plugin for my project.

Thanks for the solution :)

[2022-09-22 18:40] endigo9740 commented on #272
Awesome, glad that helped!

That's very strange though. I'll dig into the plugin and see if I can figure why it might be causing an issue. I haven't used it personally but I was under the impression it just allowed for custom defined aspect ratios. Perhaps they modify the base aspect-X behavior in some fashion?

[2022-09-22 18:52] ainesophaur commented on #272
FWIW, after filing the issue I came across a workaround by replacing the import of  'all.css' with a "patched" version

[code]

[code]

[2022-09-22 22:01] endigo9740 commented on #272
Hmm I'll have to think about this one. The point of `all.css` is it's supposed to import everything for you. Every single stylesheet we have available. This looks more like it's a replacement for the `tailwind.css` file:

https://github.com/Brain-Bones/skeleton/blob/dev/src/lib/styles/tailwind.css

I may need to split the Tailwind import out of the `all`. That way folks can sandwich their own cust

[2022-09-22 22:08] endigo9740 commented on #269
First draft of the new generator is ready. This moves the generator from the main Themes page to its own subpage, which is a lot easier to look at.

![Screen Shot 2022-09-22 at 5 04 13 PM](https://user-images.githubusercontent.com/1509726/191859801-8ec3c177-844e-4a6f-be94-40abf035b0bc.png)

this allows us more room for the generator UI, which means bigger swatches, etc. I've combined the two gener

[2022-09-23 03:55] figuerom16 opened #273 "Documentation missing typography.cjs for tailwind.config.cjs"
Issue: Typography doesn't work without typography.cjs in tailwind.config.cjs for https://skeleton.brainandbonesllc.com/tailwind/typography

Documentation update: https://skeleton.brainandbonesllc.com/guides/tailwind

Section:
[code]

Needs typography.cjs:
[code]

[2022-09-23 04:21] endigo9740 commented on #273
Hey @figuerom16, actually that's not quite right. The typography plugin was merely a test. It may even be removed in the next release. If your typography isn't working it's likely an issue with your Tailwind directives, especially if they are included twice in the project.

We ended up debugging this very issue before release yesterday. This is why we added the big yellow message here:
https://ske

[2022-09-23 04:33] figuerom16 commented on #273
Doh!  I missed that.  That was it.  Clearing @tailwind base, components, utilities worked.

[2022-09-23 04:33] #273 closed

[2022-09-23 05:27] #271 closed

[2022-09-23 05:28] endigo9740 opened #274 "Code Block copy action not updated when code changes"
The copy button is functional, but when the content within changes, we visually see the UI change. However, the copy button is still the original data. We'll need to look into how inform the action of the latest changes.

[2022-09-23 05:30] endigo9740 opened #275 "Minor typo is our Styles warning"
![image](https://user-images.githubusercontent.com/1509726/191897157-56105a3f-6b64-48f2-ae97-caf2178cb74b.png)

[2022-09-23 15:45] CodyOakes opened #276 "Module '"@brainandbones/skeleton"' has no exported member 'dialogStore'"
Getting this TS error when attempting to import "dialogStore" into a component to trigger a DialogConfirm:
Module '"@brainandbones/skeleton"' has no exported member 'dialogStore'

version: "@brainandbones/skeleton": "^0.41.48"

Noticed on line 42 of index.js in the skeleton source there is an import amongst all the exports:
import { dialogStore } from './utilities/Dialog/stores';

Enjoyed the pack

[2022-09-23 15:59] endigo9740 commented on #276
Hey @CodyOakes, definitely seems we have a bug here. We utilize an `index.ts` file to define what resources should be available for the shorthand import method rather than including the full path inside the node_modules package directory. Here's a snippet of that:

![Screen Shot 2022-09-23 at 10 54 11 AM](https://user-images.githubusercontent.com/1509726/192002501-b5ceab2f-af74-4cbc-90ce-75bd95619

[2022-09-23 16:01] endigo9740 commented on #276
@niktek any ideas on this one? Perhaps related to the new Svelte/Package issues you had mentioned prior?

[2022-09-23 16:02] endigo9740 commented on #276
@CodyOakes Ok, it just occurred to me what's up. We used `import` rather than `export`. Dumb mistake on my end :) I'll get a patch out later today!

[2022-09-23 16:06] CodyOakes commented on #276
@endigo9740  Haha that's what I meant by "an import amongst all the exports". Thanks for the work around, and quick response! I'll watch for the patch.

[2022-09-23 16:14] endigo9740 commented on #276
Well shoot, you did! Seems I need a bit more coffee this morning :)

[2022-09-23 16:23] endigo9740 commented on #276
@CodyOakes The patch has been push. New version is `0.41.49`. Given how simple the change is I feel confident this will resolve your issue, so I'm going to close this ticket. But thanks for bringing this to our attention!

Let us know if you run into any other issues!

[2022-09-23 16:23] #276 closed

[2022-09-23 16:23] endigo9740 commented on #275
Resolved this with the hotpatch this morning

[2022-09-23 16:23] #275 closed

[2022-09-23 17:24] endigo9740 opened #277 "Document component keyboard shortcuts (a11y)"
Now that we have a styles available for our `<kbd>` (keyboard) elements, I'd really like to begin the process of documenting relevant keyboard shortcuts on each relevant component. Things like `ESC` to close a Drawer, etc. This will be helpful in highlighting any gaps we have for a11y concerns.

I figure we just add an addition table at the bottom of each page, below the a11y props. Then do someth

[2022-09-23 18:12] endigo9740 commented on #201
@salisshuaibu11 [Per our discussion on Discord](https://discord.com/channels/1003691521280856084/1022922385185312778), here's a summary of what's needed for this component:

- We will need to opt for a component, not action. So I'll rename this ticket.
- I'll provide an example of the Component and template markup examples below.
- General idea is it's a button + input:file. The input is hidden. W

[2022-09-23 22:50] endigo9740 commented on #269
New draft PR available for anyone that wants to test this:
https://github.com/Brain-Bones/skeleton/pull/278

Cleaned up the code and added a ternary color slots. Live preview is also functional, but doesn't persist the values if you leave the page.

[2022-09-24 00:34] salisshuaibu11 commented on #201
@endigo9740 alright, thank you, I will jump on it. If there is anything I will let you know

[2022-09-24 04:41] endigo9740 opened #279 "Drop components converted to Tailwind Elements"
Prerequisite: https://github.com/Brain-Bones/skeleton/pull/265

Ad mentioned in our latest release notes and migration guide, these are slated to be removed in the next release:
https://github.com/Brain-Bones/skeleton/discussions/250

- [Component: Badges](https://skeleton.brainandbonesllc.com/components/badges)
- [Component: Buttons](https://skeleton.brainandbonesllc.com/components/buttons)
- [Co

[2022-09-24 04:43] endigo9740 commented on #261
(this is a note for myself)

Needs review: consider dropping component for datalist + action? Keep things as close to native a possible.

[2022-09-24 04:45] endigo9740 opened #280 "Convert hardcoded heading element styles to heading classes"
Discussion and prerequisite PR: https://github.com/Brain-Bones/skeleton/pull/265#issuecomment-1256820779

This will aid in a11y in that we can keep the heading hierarchy on the page, but style visually in the order and fashion that we need and want. Basically let us manage each independently.

This is where the classes will need to be implemented:

https://github.com/Brain-Bones/skeleton/blob/dev/

[2022-09-24 21:51] endigo9740 commented on #270
And initial version of this is working here. See the draft PR attached to try it yourself.

Video Clip:
https://i.imgur.com/xptMAO2.mp4

[2022-09-24 21:55] endigo9740 opened #283 "New Utility: LocalStorage Writables"
Has several immediate applications:

- Can persist doc store data (theme, framework, drawer state)
- Can persist the "Themer" component's various states and reduce boilerplate
- LightSwitch mode persistance?
- May be provided to end users as a new Utility feature!

[2022-09-24 21:55] endigo9740 commented on #270
See also:
https://github.com/Brain-Bones/skeleton/issues/283

[2022-09-24 21:56] endigo9740 commented on #269
See also:

- https://github.com/Brain-Bones/skeleton/issues/283

[2022-09-25 11:50] motopods commented on #197
<dialog> requires Safari at least greater than or equal to 15.4，is this requirement a little too strict?

[2022-09-25 17:42] endigo9740 commented on #197
Hey Motopods, first off there's no guarantee we'll move forward with this. As noted, we're just going to investigate the technical capabilities. There's plenty of issues that could prevent us from moving forward. But the reason I'm keen to add it is due to the a11y benefits, such as proper focus capture. Things that are very difficult with custom rolled solutions.

The Dialog elements was adding i

[2022-09-25 18:14] endigo9740 commented on #280
This will be addressed as part of this PR update:

https://github.com/Brain-Bones/skeleton/pull/265

[2022-09-25 18:31] benzara-tahar commented on #277
Hello, I can work on this one if it is not assigned yet

[2022-09-25 18:32] endigo9740 commented on #277
Done, thanks!

[2022-09-25 18:38] endigo9740 commented on #277
Hey @benzara-tahar I mentioned I'd add some notes per our Discord conversation on this:

- First off review the contribution guide and the links I sent you for how to create a public contribution
- [See this ticket](https://github.com/Brain-Bones/skeleton/issues/279), there's several components slated to be dropped soon. So no sense documenting these!
- I'd recommend picking one component with a l

[2022-09-25 18:46] endigo9740 commented on #274
@niktek let me know if you want to take a swing at this

[2022-09-25 19:56] endigo9740 commented on #283
See: https://github.com/joshnuss/svelte-local-storage-store

[2022-09-25 20:02] endigo9740 commented on #272
@ainesophaur Finally had a chance to review this a bit more. Tailwind actually addresses this issue on their README here:
https://github.com/tailwindlabs/tailwindcss-aspect-ratio#compatibility-with-default-aspect-ratio-utilities

Essentially the plugin overrides the default values from the core library. However, if you follow the instructions here, and update your tailwind config, this should rest

[2022-09-25 20:15] endigo9740 commented on #203
Accessing default Tailwind colors, the official means:
https://stackoverflow.com/questions/61118060/how-to-access-tailwind-colors-from-javascript

[2022-09-25 20:58] endigo9740 commented on #283
Per the linked issue, the author has gave his blessing for us to integrate this directly. I've requested he do so directly so he can get proper contribution, otherwise I'll plan to add this tomorrow!

[2022-09-25 22:44] endigo9740 commented on #203
I've pushed a PR that updates this component to support three methods of adding color stops:

1. Provide `rgb(vars(--color-primary-500))` for theme colors
2. Provide `colors: ['purple',500]` for default Tailwind colors
3. Provide any standard CSS color as a string, including named colors, hex, HSL, etc.

I also updated the documentation and test cases to be current and re-enabled the component in

[2022-09-26 00:10] endigo9740 commented on #203
Let's add a Typescript interface definition for the `data` information. Location/name TBD, but something like:

`.../ConicGradients/types.ts`

[2022-09-26 14:53] ainesophaur commented on #272
@endigo9740 I was able to confirm the issue is resolved after following the instructions in the link. Without the fix, the aspect errors came back (just making sure the fix wasn't a false success)

[2022-09-26 15:39] endigo9740 commented on #272
Great, thanks for testing. I'll make sure to add a note about this in our docs.

[2022-09-26 17:37] endigo9740 commented on #280
@ryceg but I think your suggestion for this is a sound one, that we should separate structure and visual presentation. However, I think this will take a more focused pass through since there's a LOT that needs to change. Not everything can be tackled using find/replace as I suggested above.

What I'd suggest is we go through and update the structure first. This will of course makes the visual pres

[2022-09-26 17:42] #279 closed

[2022-09-26 17:44] endigo9740 commented on #279
Note these components and their respective documentation pages have been removed. The code for these will always exist in the repo history, but if for some reason you want reference I've created a zip for this:

[deprecated-comps.zip](https://github.com/Brain-Bones/skeleton/files/9648460/deprecated-comps.zip)

Note that List/ListItem are not included because that component was split in two, it's n

[2022-09-26 18:33] #283 closed

[2022-09-26 18:37] endigo9740 commented on #269
Cherry pick the Local Storage Store via:

`git cherry-pick af61660b3776623884f4ca41b342fb9b01101218`

[2022-09-26 18:37] endigo9740 commented on #270
Cherry pick the Local Storage Store via:

`git cherry-pick af61660b3776623884f4ca41b342fb9b01101218`

[2022-09-26 18:47] endigo9740 opened #288 "Recreate preset themes with the new theme generator"
Prerequisite: https://github.com/Brain-Bones/skeleton/issues/269

Now that we have a new theme generator, and we've added a new color slot (ternary), let's regenerate our preset themes to take advantage of all the new updates.

Likewise, consider implementing the new ternary color in a few examples - such as the Alerts.

[2022-09-26 19:32] #269 closed

[2022-09-26 19:39] endigo9740 commented on #270
Local storage store setup. The selected theme will now persist.

As an added benefit the selected framework tab in the docs will also persist!

[2022-09-26 19:40] #270 closed

[2022-09-26 19:57] endigo9740 commented on #203
The types have been added and included in the `index.ts` package export.

[2022-09-26 20:05] #203 closed

[2022-09-26 20:09] endigo9740 commented on #272
Done:
https://github.com/Brain-Bones/skeleton/commit/be2ce638376cc7bfb6936f239eec70d794c5e8a1

[2022-09-26 20:09] #272 closed

[2022-09-26 20:43] endigo9740 commented on #277
@benzara-tahar Please see some relevant notes related to updates on our dev branch here:
https://discord.com/channels/1003691521280856084/1003699523522142399/1024057391454638172

Long story short, please ensure you pull the latest changes from `dev` branch before you begin this update if at all possible. If you've already started, no worries. We'll make it work!

[2022-09-26 20:43] endigo9740 commented on #201
Completed and merged!

[2022-09-26 20:43] #201 closed

[2022-09-26 20:45] endigo9740 commented on #218
This is a note for myself, but we should refactor the LightSwitch to take advantage of the new LocalStorageStore utility added here:

https://github.com/Brain-Bones/skeleton/issues/283

This doesn't directly help with exposing the value publicly, but the overall logic simpler.

[2022-09-26 21:08] endigo9740 commented on #248
@niktek a new PR has been filed that adds the sticky search at the top. The AppBar auto-scroll has also been adjusted per the new offset requirements. Please test it out and give a thumbs up. I'll then merge asap.

![Screen Shot 2022-09-26 at 4 07 32 PM](https://user-images.githubusercontent.com/1509726/192380715-6d994d75-22a7-4627-bbfe-4de0b321efc1.png)

[2022-09-26 21:30] endigo9740 commented on #261
@ak4zh A few things to cover here. First off, let's be clear at what our component actually is - in short, it's wrapper and extended version of the native input:range element:

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range

We've adopted the name from this. Our version simply provides a pass through for for the built in input functionality, as well as adding on automatic ge

[2022-09-26 21:30] #261 closed

[2022-09-26 21:33] endigo9740 commented on #261
Just to add one more note - I'd welcome a PR if you want to try your hand at creating a version of this. I just don't think this is something we will make a priority right now though. But thanks for the suggestion!

[2022-09-26 21:36] endigo9740 opened #291 "LightSwitch component updates"
Per this ticket, we've received a request to expose the current light/dark mode state into a globally visible scope:

- https://github.com/Brain-Bones/skeleton/issues/218

Additionally, we should probably go ahead and update the component utilize the new LocalStorageStore utility added here:

- https://github.com/Brain-Bones/skeleton/issues/283

Likewise, we should also give this one more pass to

[2022-09-26 21:37] endigo9740 commented on #218
@jamesnewportbeach Given there's a few updates pending for this component I've decided to create a new dedicated feature request ticket here. This will put a little more focus on what's being requested:

https://github.com/Brain-Bones/skeleton/issues/291

Please feel free to add any further feedback here please!

[2022-09-26 21:37] #218 closed

[2022-09-26 21:52] endigo9740 commented on #274
REPL created: https://svelte.dev/repl/1e2b29f3dcf84909977eb5591d2dbdd8?version=3.50.1

[2022-09-26 22:06] endigo9740 commented on #268
@salisshuaibu11 Let me know if you would be interested in this one. Funny enough it's almost identical to the functionality of the File Button. Instead of creating a visible button, you style the input itself to look like the screenshot above. The browser will handle the drag and drop feature natively.

No worries if you want to change it up and work on something else though!

[2022-09-26 22:18] endigo9740 commented on #196
NOTE: here's how to ensure param data stays up to date:
https://discord.com/channels/457912077277855764/1023340103071965194/threads/1024077183158845561

[2022-09-26 22:18] endigo9740 commented on #195
NOTE: here's how to ensure param data stays up to date:
https://discord.com/channels/457912077277855764/1023340103071965194/threads/1024077183158845561

[2022-09-26 22:27] salisshuaibu11 commented on #268
@endigo9740 I have an intention to work on it already, yeah assign to me.

[2022-09-26 23:34] endigo9740 commented on #268
Awesome, I've assigned this to you. There's a few ways to handle the input, you might research and see what most folks are doing.

But another idea would be, rather than styling the input itself, you just place it overlapping your styled content, like so:

![image](https://user-images.githubusercontent.com/1509726/192398702-b7785b51-61c5-4cb9-acfc-aa840a602589.png)

Then make sure the overlapping

[2022-09-27 06:45] ak4zh commented on #261
I did a bit of research and found a accessible solution someone built, it may not get implemented in this project but adding it here so if someone stumble upon this issue they know of some accessible options they can use:

Original comment: https://stackoverflow.com/a/70561454
SimpleRangeSlider: https://maxshuty.github.io/accessible-web-components/

[2022-09-27 14:40] luke-hagar-sp opened #294 "Theme Generator Randomize Button doesn't change color names"
![Kapture 2022-09-27 at 09 39 42](https://user-images.githubusercontent.com/98849695/192557335-1b2a608e-83ae-4db3-8719-51a2ac1b0b47.gif)

[2022-09-27 17:17] #274 closed

[2022-09-27 17:17] endigo9740 commented on #274
Handled by @luke-hagar-sp!

[2022-09-27 17:28] endigo9740 commented on #291
Resolved by @luke-hagar-sp . We'll revisit performance again in the future, but we may be hitting a bottleneck with pure Svelte at this point.

[2022-09-27 17:28] #291 closed

[2022-09-27 17:33] endigo9740 commented on #218
@jamesnewportbeach I couldn't copy you on the new ticket but @luke-hagar-sp made a great update to the LightSwitch for the next release. See his PR here, which we've merged:

https://github.com/Brain-Bones/skeleton/pull/293

In short, this takes the selection state from within the component, and moves it into Svelte Store. Not just any Svelte Store, but a new extended version we're introducing tha

[2022-09-27 18:00] figuerom16 opened #296 "Node Skeleton Install Script"
Making a Node Skeleton install script for SkvelteKit, Vite, Astro.  It's working, but still rudimentary in design.  A few things I wanted to check on was if this fits the install pattern that the team is looking for in terms of scaffolding.  Also if you want Tailwind: Aspect Ration and Line Clamp as install options or anything else that might help in addition.  I do have a default install param fo

[2022-09-27 18:12] endigo9740 commented on #218
@jamesnewportbeach After speaking with @luke-hagar-sp he's going to look to build a second store value that houses the OS preference value. That way if you get `undefined` from the main store, you can then reference this as a fallback. The idea being that we need and want to maintain these values separately. But should be the finalize piece of the puzzle for informing your app what state it should

[2022-09-27 18:20] endigo9740 commented on #296
Thanks @figuerom16 I'll copy my response from Discord here as well:

- I don't think Tailwind's official plugins should be part of our basic system. Those can and should be "extracurricular" activities
- Per NPM packages, I'll reach out to you directly on Discord (this is done now, check your DMs)
- Definitely recommend Typescript. I think Node's made this easier to setup recently
- We're very kee

[2022-09-27 18:28] danawoodman commented on #195
+1 for this. I think for a lot of cases a tooltip is the idea candidate for an action:

[code]

I wrote up doing this with Tippy.js, but could easily be done with anything else:

https://dev.to/danawoodman/svelte-quick-tip-using-actions-to-integrate-with-javascript-libraries-tippy-tooltips-2m94

[2022-09-27 18:28] #294 closed

[2022-09-27 18:29] endigo9740 commented on #294
@luke-hagar-sp Bugfix has been implemented and merged into dev. Code could stand for a bit of a refactor, but this should get us by for now.

[2022-09-27 18:41] endigo9740 commented on #195
Hey @danawoodman thanks for sharing. That's so funny you would pop up on here, I actually bookmarked a tip you shared on Twitter just last night:
https://twitter.com/DanaWoodman/status/1574493362740084736

More in regards to your usage of the `{$$restProps ?? ''}` syntax rather than `$props`. I also referenced your blog post on local storage stores recently, before we migrated over to this:
https:

[2022-09-27 18:47] endigo9740 commented on #196
Useful reference here:
https://github.com/Brain-Bones/skeleton/issues/195#issuecomment-1259893976

Direct link:
https://dev.to/danawoodman/svelte-quick-tip-using-actions-to-integrate-with-javascript-libraries-tippy-tooltips-2m94

[2022-09-27 23:41] endigo9740 commented on #196
I've submitted a draft PR showcasing my first version of this change.

![menu-examples](https://user-images.githubusercontent.com/1509726/192655990-97e75baf-951c-4e92-a7ca-b4453d3129e6.gif)

These make use of both Tailwind Elements (for canned class styles) as well as a dedicated Svelte Action.

![Screen Shot 2022-09-27 at 6 35 27 PM](https://user-images.githubusercontent.com/1509726/192656046-0a0

[2022-09-27 23:55] endigo9740 commented on #196
In case you're wondering, the goal with the data attribute is to make the linking arbitrary. This opens the door to crazy stuff like this:

[code]

Where the menu doesn't HAVE to be relative to the trigger, but an appear anywhere you want on the page.

![Kapture 2022-09-27 at 18 53 37](https://user-images.githubusercontent.com/1509726/192657612-02651e79-847d-485b-90a1-0785bc203fa6.gif)

[2022-09-28 03:14] endigo9740 commented on #196
I've worked up a REPL of some potential updates:
https://svelte.dev/repl/b9055bf14e2d4bb5a38f2102ffbfa260?version=3.50.1

General idea:

- Playing with the idea of making this a generic "popup" action, which means it could be shared with tooltips. But not 100% sure on that yet.
- Either way we can further abstract layout and visual styling using the popup/menu Tailwind Elements.
- We opt for a mor

[2022-09-28 04:12] danawoodman commented on #195
Haha nice! You flatter me fine sir! Glad some of the random tidbits I've posted could help!

[2022-09-28 05:04] endigo9740 opened #300 "Contributor Guide Improvements"
This section has grown too large and unwieldy. It needs to be reorganized into something people will actually read and use. We should research how others handle this - [Mantine ](https://mantine.dev/pages/contributing/) does a great job in this respect, as usual!

Suggestions:

- Reduce the word count
- Keep only the most important info, drop what's not needed
- Split into multiple sections (pages

[2022-09-28 05:06] ryceg commented on #300
I'll take this one!

[2022-09-28 05:25] endigo9740 opened #301 "Global design token system"
Found a great video that formalizes the ideas I've had for handling global style settings within Skeleton

- https://vimeo.com/showcase/9653752/video/724689965
- https://user-images.githubusercontent.com/1509726/192694275-a13e2c28-271d-4623-a639-a4a0532b741b.png

We're already doing some of this with our theme color system, however we can go much further. We can use CSS properties as part of our t

[2022-09-28 05:29] endigo9740 opened #302 "Documentation layout shell"
This is very similar in concept to our AppShell component, but rather than providing control for our app layout, we create a reusable component template that can be used for controlling the layout and design of our documentation pages. Given these have a lot of repetition!

Loose ideas:

- Small bits of data are controlled with multiple props or a singular "config" prop (title, desc, imports, sour

[2022-09-28 07:08] endigo9740 commented on #296
@figuerom16 Finally had a chance to review this video I shared in Discord. Again, definitely recommend it to see what's kind of on the cutting edge for the Node CLI feature set:
https://www.youtube.com/watch?v=gSLmWQonQ2c

Summarized:

- ESM style `import` syntax available, pairs with `.mjs` files (ex: `import fs from 'node:fs';`)
- [Argument parsing](https://github.com/pkgjs/parseargs) seems supe

[2022-09-28 15:55] #248 closed

[2022-09-28 16:15] endigo9740 commented on #217
Reference @ryceg proposal for handling data types for data table components:

- https://github.com/Brain-Bones/skeleton/pull/299

[2022-09-28 16:16] figuerom16 commented on #296
@endigo9740 I did watch the video and:
- Switched over to the ESM style since it's much nicer.
- The native ParseArgs utitility is going to make arguments very easy to use I was thinking of doing something like `node SkeletonInstall.mjs <project_name> <framework> <...more_options>`
- I will use fetch for testing.  I'll have the server spin up then fetch method="HEAD" every second for five seconds

[2022-09-28 16:26] endigo9740 commented on #268
Unfortunately Salisu won't be able to continue forward on this one. Any other takers?

[2022-09-28 20:31] Sarenor commented on #222
Trying to take care of this :)

[2022-09-28 20:33] endigo9740 opened #305 "Project setup guides for SvelteKit/Vite"
Check the page linked below, note the three tabs available:

https://skeleton.brainandbonesllc.com/docs/scaffold

Currently we have a guide for Astro, but need something similar for SvelteKit and Vite. We don't need anything fancy, this is just further guidance for folks once they've completed the "Get Started" steps. Ideally we would go through the process of adding a simple component, such as a

[2022-09-28 20:34] endigo9740 commented on #222
Assigned!

[2022-09-28 20:37] endigo9740 commented on #296
The changes look great! Everything mentioned sounds great, but I'm not sure of the use case for Fetch. What portion of the script requires HTTP communication? I wasn't clear on that.

[2022-09-28 21:10] figuerom16 commented on #296
Fetch would be for the test runner only.  The test will go through the entire process including spinning up the server with npm dev run.  Then attempt a fetch on the header.  Return the results after a few attempts.  Spin down and cleanup.  It's something I'll have to work on since I've never done this in node, but I'd do it in bash with curl a lot.

[2022-09-28 21:26] endigo9740 commented on #288
This has been done. All themes have been updated to the new format and include a new ternary slot color.

Likewise I updated our Tailwind theme plugin to support the new color, and updated several example pages to show off this variation. Buttons likewise have a new ternary variant option as well.

![Screen Shot 2022-09-28 at 4 25 00 PM](https://user-images.githubusercontent.com/1509726/192891650-

[2022-09-28 21:27] #288 closed

[2022-09-28 22:08] ryceg opened #307 "Disallow explicit any typing to prevent further typing regressions"
The ESLint flag can be toggled to disallow explicit `any` typings.

https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/eslint-plugin/docs/rules/no-explicit-any.md

The only times when explicit any is preferable is when you are converting to TypeScript piece by piece, or when you are dealing with external APIs. Typescript can infer a great deal about data structures. Enforcin

[2022-09-28 22:09] ryceg opened #308 "Disallow branches without proper prefixing"
The use of a GitHub action will disallow non-standardized branch naming to ensure the code contribution guidelines are being followed implicitly.

[2022-09-28 22:15] ryceg opened #309 "Create a PR template with a checklist to ensure contribution guidelines are followed"
Adding a PR template via `.github/pull_request_template.md` will help ensure the contribution guidelines are being followed by making the PR contributor positively affirm that they are conforming to the guidelines.

This would include:

- Branch naming prefix
- Affirmation that the PR addresses an issue that has been assigned to them
- Testing
- Documentation updates
- Typings

[2022-09-28 22:19] ryceg opened #310 "Create an issue template to streamline UX"
Using the new yaml format, users can be prompted to provide all the relevant information needed to triage the issue, as well as tag it with appropriate tags. These can be separated into distinct types; the information needed for a documentation typo is different to that of a runtime big, or a feature request. The config file can also be used to direct users to the Discord server if they need suppo

[2022-09-28 23:33] endigo9740 commented on #195
Great progress on the tooltips today! These are even more compact than the tooltips, given they are dynamically generated completely by the action.

I've created a draft PR for anyone that wants to review. I'll look to flush things out a bit further and finalize documentation asap.

![Screen Shot 2022-09-28 at 6 30 22 PM](https://user-images.githubusercontent.com/1509726/192906224-cf42c5c6-eeb0-48

[2022-09-28 23:40] endigo9740 commented on #195
Todo:

- [ ] Reach parity with component style props
- [ ] Make the .relative wrapper optional?
- [ ] Add a11y attributes and props
- [ ] ...

[2022-09-28 23:46] endigo9740 commented on #308
The idea is interesting, but I have mixed feelings about this one. The branch naming is not a technical restriction but rather helps keep people doing PR reviews (like me) more organized. The reason this is helpful is at any given moment I have a NUMBER of branches available locally, typically due to PR reviews. It's helpful to be able bot tell these apart from one another:

![Screen Shot 2022-09-

[2022-09-28 23:48] endigo9740 commented on #307
We recently moved to a more strict type enforcement (I think a SvelteKit update enabled this for us) and it did take some effort to update. But I do think it's better overall. More strict rules are nice. But there are times where `any` can be useful.

Similar to the other requests, I think this is worth some review and thought.

[2022-09-28 23:50] endigo9740 commented on #309
Including this for reference. A version of these were included in a PR that was not accepted:
https://github.com/Brain-Bones/skeleton/pull/303/files#diff-b2496e80299b8c3150b1944450bd81c622e04e13d15c411d291db0927d75fd6b

Worth a bit more review for what we want to prompt and ask for specifically, but what was provided previously should be a good foundation.

[2022-09-28 23:54] endigo9740 commented on #310
Including a link to a PR with these proposed change on a PR that was not accepted:
https://github.com/Brain-Bones/skeleton/pull/303/files

I think this is a good idea and we should implement this, I'd just like to have a hand in the text for the template(s). Ensure we're prompting for the appropriate information.

[2022-09-29 00:23] ryceg commented on #310
Of course! You know what information is most useful for bug reports / feature requests / etc. If you want to specify a list of what inputs you'd like, and the verbiage, I can knock it together.

[2022-09-29 00:32] ryceg commented on #307
There are no instances where `any` would be better than `unknown`, which explicitly tells the developer that they are dealing with an unknown object type. This does not enforce explicit typing across the board- merely disallowing typing to `any` explicitly, which is an antipattern. It's a great practice to enforce so that you can't just fob off the typings to later. For typings that you aren't sur

[2022-09-29 01:28] endigo9740 commented on #307
Right, I understand the technical benefit. If this was a propriety and closed source project I would be all about it. But keep in mind we're working with contributors of all skill levels. I'd rather be able to accept contributions that need typing adjusted or improved versus someone hitting a hard wall and bouncing.

I don't think a zero-tolerance policy will benefit a project of this size this ea

[2022-09-29 01:31] endigo9740 commented on #308
I've not seen this occur first hand. Do you have examples of what this looks like? As long as the response is clear to why this is rejected I may be more keen to accept it.

Things I would appreciate as contributor would be things like steps to resolve the issue. Your branch is X, but needs to be Y, here's the steps to resolve that.

Thoughts?

[2022-09-29 01:43] endigo9740 commented on #310
@ryceg Just to confirm, this is what the Svelte project is using, correct? Looks like the same categories they use, is that right?

List of options:
https://github.com/sveltejs/svelte/issues/new/choose

Bug report:
https://github.com/sveltejs/svelte/issues/new?assignees=&labels=triage%3A+bug&template=bug_report.yml

A few questions:

1. Are there set categories or can we fully customize these? Say

[2022-09-29 02:19] endigo9740 commented on #309
Here's my suggestion...

## Before Submission

Please ensure you've completed the following before submitting your pull request.

- [ ] Did you [review this PR](https://skeleton.brainandbonesllc.com/docs/contributions) with core contributors on GitHub or Discord beforehand?
- [ ] Did you update documentation related to your new feature or changes?
- [ ] Did you you update and run tests before subm

[2022-09-29 02:29] endigo9740 commented on #308
FYI I created a post on the Discord contributor channel and pinged a few folks to share their opinion here.

[2022-09-29 02:29] endigo9740 commented on #307
FYI I created a post on the Discord contributor channel and pinged a few folks to share their opinion here.

[2022-09-29 05:01] ryceg commented on #307
Oh, I should've been more specific- Important to note that this doesn't outright stop commits (unless you set up a git hook to disallow commits/pulls with ESLint errors), but just throws an error, same as if you were to use a method that didn't exist. So contributors would still be able to include that sort of incorrect typing, it's just it would come up as an error.

[2022-09-29 05:29] ryceg commented on #308
[This article goes into detail about how to achieve it with Husky](https://www.devwithimagination.com/2020/04/13/git-commit-hooks-for-branch-naming-using-husky/). With a little more code you could give the user a command to copy + paste to amend their branch name. To avoid interrupting people that want to develop their own stuff, you could have it as a pre-pull hook that only triggers on the `dev`

[2022-09-29 05:34] ryceg commented on #310
Yes, Svelte uses it.

1. Easy to do!
2. Yes; at the moment you have `input`, `textarea` (longer input), `checkboxes`, and `dropdown` menus, which cover freeform, booleans, and constrained record entries. File input is supported by default.

# Documentation:

https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms

https://docs.gith

[2022-09-29 06:35] ak4zh commented on #308
Feels like a bit of a barrier for first-time contributors.
We should keep barriers at a minimum so new contributors do not feel overwhelmed if they decide to send a pull request for say a typo or minor fixes.

My take on this:
Rules are great, but we are all learning and less strict rules help sometimes.
If this is my first ever pull request and it gets denied automatically I will feel more hostil

[2022-09-29 16:13] endigo9740 commented on #307
Right, but when they receive those errors who are they going to reach out to? :) Right now I'm devoting about a quarter of my working hours to support issues. I'd really appreciate if that went down rather than up.

[2022-09-29 17:53] zrothberg opened #312 "ProgressBar Aria Label"
So looking at the mozilla docs for the [meter label](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/meter_role). It appears as though they are suggesting against using the aria label outright. And to use the HTML tag. Further I am unsure if the aria label should be meter vs progressbar. Meter doesnt support indeterminate values [while progressbar does. ](https://developer.mo

[2022-09-29 19:05] endigo9740 commented on #195
I've pushed one more round of updates to the component. It now has many more options for customizing the look and feel, while still leaning into the Tailwind Elements css styles as the defaults. I've also fully documented the usage, params, and classes available. Unless anyone else has feedback this may be the version we merge!

[2022-09-29 19:14] endigo9740 commented on #312
Hi @zrothberg we always welcome a11y improvements so thanks for providing this!

I'm a BIG advocate of leaning into native elements over custom anytime possible. It's been many months since we built this one specifically, but I believe we opted for this route given it was difficult to create the indeterminate animations as we wanted. Likewise I seem to recall some issues with consistent styling ac

[2022-09-29 21:06] endigo9740 commented on #196
FYI I've attempted to setup test cases for this action. However, this is not operating as expected. I'd welcome feedback from anyone that can shed light on this:

https://github.com/Brain-Bones/skeleton/blob/e2b8ba3e2cf35ce0d0787e8e79c8482e6dcc0c85/src/lib/utilities/Menu/menu.test.ts

[2022-09-29 21:26] zrothberg commented on #312
@endigo9740 I wonder if the inconsistencies is because of default style sheets. I don't think tailwind defaults to clearing the styles for html5 tags only the baseline ones. Just peaking chrome vs safari on OSX I see that chrome has some stuff marked as important by default while safari does not. You may need to make an expanded preflight section that clears the default styles for html5 tags you w

[2022-09-29 21:41] endigo9740 commented on #312
@zrothberg Just saw your new message so I'll respond to that in a moment, but wanted to share what I'm seeing when cross browser testing CSS styles for the progress element.

Here's the styles tested:
[code]

Here's the results...

Chrome:
![chrome](https://user-images.githubusercontent.com/1509726/193146981-b3b28f65-6c02-4108-9fcf-b40b48b3bfad.png)

Safari:
![safari](https://user-images.githubuse

[2022-09-29 21:47] endigo9740 commented on #312
FYI I also tested accent color, which MDN claims is supported. But I'm not sure how to properly utilize it:

[code]

This doesn't appear to affect the three browsers tested above. I get the same default styles. I also tested with the vendor appearance set to none, and setting this on the body element.

[2022-09-29 21:53] zrothberg commented on #312
@endigo9740 yea [reading this doc](https://developer.mozilla.org/en-US/docs/Web/CSS/Mozilla_Extensions) it looks like those don't work on websites but on I'm guessing like extensions and stuff. I can poke around firefox tomorrow and see what works and what doesnt. I guess it's probably worth plopping down a bunch of the html5 tags to create a doc that outlines the differences so they can get norma

[2022-09-29 21:55] endigo9740 commented on #312
My response per above...

I don't believe Tailwind touches the progress component at all. I've seen the defaults both with and without Tailwind and place and they look identical. Feel free to review my results above and let me know how your own tests go.

Sorry I don't really understand what you're saying here. Per my original response we can either handle this purely with CSS, create a fully cust

[2022-09-29 22:12] endigo9740 commented on #312
@zrothberg Another interesting detail - I see some examples on the MDN docs and other places showing indeterminate progress bars having the horizontal looping animation we implemented. However I've NEVER seen that from a native progress bar. Perhaps a feature they enabled for a short while but has since gone away?

[2022-09-29 23:15] zrothberg commented on #312
https://developer.mozilla.org/en-US/docs/Web/CSS/:indeterminate

That is what it says the selector is. This one may need to get picked apart.

Tailwind appears to have [support for it. ](https://tailwindcss.com/docs/hover-focus-and-other-states#indeterminate)

Im guessing the Aria document is correct and it occurs if the value is missing.